* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
body:has(.ks_landing_page_body)::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

body {
  font-family: Inter, sans-serif !important;
}

body.ks_kh_lbl,
.ks_kh_lbl {
  font-family: "Noto Serif Khmer", serif !important;
}

.ks_section_1 {
  width: 100% !important;
  height: auto !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #ffffff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
}

.ks_div_block_6 {
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("../../public/asset/hero/landing-page/wallpapergradienit.jpg") !important;
  background-size: cover !important;
  margin-bottom: 0 !important;
}

.ks_navbar_logo_left_3 {
  background: #dddddd !important;
  background-color: rgba(221, 221, 221, 0) !important;
  position: relative !important;
  z-index: 1000 !important;
  width: 100% !important;
  max-width: none !important;
  margin-top: 40px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
}

.ks_navbar_container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 940px !important;
  width: 100% !important;
  max-width: 100% !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_navbar_content {
  width: 100% !important;
  max-width: none !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
}

.ks_menu_button {
  position: relative !important;
  float: right !important;
  width: 54px !important;
  height: 37px !important;
  /* padding: 18px !important; */
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  display: none !important;
  cursor: pointer !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-select: text !important;
}

.ks_navbar_brand {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  flex: none !important;
}

.ks_img_33 {
  border: 0 !important;
  max-width: 100% !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.ks_navbar_menu {
  position: relative !important;
  float: right !important;
  width: auto !important;
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex-direction: row !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  padding-right: 0 !important;
  display: flex !important;
}

.ks_w_custom_dropdown {
  background: #ffffff !important;
  min-width: 100% !important;
  border: 1px solid #0f20ea !important;
  border-radius: 16px !important;

  font-weight: 500 !important;
  padding: 0 !important;
}

.ks_w_navbar_custom_dropdown {
  padding: 0 !important;
  background: #fff !important;
  border: none !important;
  border-radius: 20px !important;
}

.ks_w_collapse_item {
  display: block !important;
  padding-left: 27px !important;
  padding-right: 27px !important;
  color: #222222 !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

.text-block-44 {
  color: #0f38ee !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

.ks_choose_lang_block {
  display: flex !important;
  grid-column-gap: 6px !important;
  grid-row-gap: 6px !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.ks_choose_lang_block > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_w_dropdown_item {
  color: #222222 !important;
  padding: 10px 20px !important;
  white-space: nowrap !important;
  cursor: pointer !important;
}

.ks_text_block_44 {
  color: #0f38ee !important;

  font-weight: 500 !important;
  line-height: 24px !important;
  cursor: pointer !important;
}

a:active,
a:hover {
  outline: 0 !important;
}

.ks_button_15 {
  height: 42px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: rgba(30, 92, 254, 0.1) !important;
  border: 2px solid rgba(15, 56, 238, 0.2) !important;
  border-radius: 28px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 20px !important;
  padding: 8px 16px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_button_15:hover {
  background-color: rgba(0, 71, 255, 0.2) !important;
}

.ks_text_79 {
  color: #0f38ee;
  text-align: right !important;
  letter-spacing: -0.01em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
}

.ks_vectors_wrapper_26 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 6.9248px !important;
  height: 11.751px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 2px !important;

  display: flex !important;
}

.ks_button_16 {
  height: 42px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #0f38ee;
  border: 1px solid #1234c1;
  border-radius: 28px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 8px 16px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_text_80 {
  color: #ffffff !important;
  text-align: right !important;
  letter-spacing: -0.01em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
}

.ks_small_container {
  width: 100% !important;
  max-width: none !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  text-align: center !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-self: center !important;
  align-items: center !important;
  margin-top: 152px !important;
  display: flex !important;
}

.ks_frame_5404 {
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  padding-bottom: 0 !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  display: flex !important;
}

.ks_text_17 {
  color: #0f38ee !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  margin-bottom: 30px !important;

  font-size: 34px !important;
  font-weight: 500 !important;
}

.ks_text_171 {
  height: auto !important;
  max-height: none !important;
  max-width: 1100px !important;
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  text-indent: 0 !important;
  -webkit-text-fill-color: transparent !important;
  background-color: #000 !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  flex: 0 auto !important;
  align-self: baseline !important;
  margin-bottom: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 10px !important;
  font-size: 72px !important;
  font-weight: 700 !important;
  line-height: 80px !important;
}

.ks_text_171.ks_kh_lbl {
  line-height: 116px !important;
}

.ks_button_23 {
  grid-column-gap: 4px !important;
  grid-row-gap: 4px px !important;
  background-color: #0f38ee !important;
  border: 2px solid #0f38ee !important;
  border-radius: 42px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px !important;
  padding: 16px 24px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_button_23:hover {
  background-color: #1234c1 !important;
  border-color: #1234c1 !important;
}

.ks_text_94 {
  color: #fff !important;
  text-align: right !important;
  letter-spacing: -0.01em !important;
  font-size: 21px !important;
  font-weight: 500 !important;
}

.ks_vectors_wrapper_30 {
  width: 11.4609px !important;
  height: 19.793px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 5px !important;
  display: flex !important;
}

.ks_main_image_container {
  width: 100% !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 100px !important;
  padding-top: 0 !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
  display: flex !important;
}

.ks_main_img_block {
  width: 100% !important;
  max-width: 1100px !important;
  text-align: center !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  margin-top: 0 !important;
  display: flex !important;
}

.ks_main_img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 100% !important;
  height: auto !important;
  max-width: 1100px !important;
  text-align: center !important;
  display: inline-block !important;
}

.ks_pc,
.ks_mobile {
  opacity: 1 !important;
  color: #7a7b7d !important;
  text-align: left !important;
  letter-spacing: -0.02em !important;
  align-self: flex-start !important;

  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 25px !important;
}

.ks_main_img.ks_mobile {
  display: none !important;
}

.ks_section_2 {
  width: 100% !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 140px !important;
  padding: 0 !important;
  display: flex !important;
}

.ks_title_section {
  width: 100% !important;
  grid-column-gap: 24px !important;
  grid-row-gap: 24px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_title_sub_section {
  text-align: center !important;
  line-height: 45px !important;
}

.ks_title_sub_section > span {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 48px !important;
  font-weight: 700 !important;
}

.ks_title_sub_section > span + span {
  color: #ff6702 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 48px !important;
  font-weight: 700 !important;
}

.ks_div_block_7 {
  margin-top: 60px !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.ks_tabs {
  width: 100% !important;
  max-width: 1100px !important;
  background-color: #1238ee !important;
  border-radius: 20px !important;
  flex-direction: column !important;
  align-self: center !important;
  align-items: center !important;
  padding-top: 60px !important;
  display: flex !important;
  position: relative !important;

  background-color: rgb(18, 56, 238) !important;
}

.ks_tabs:has(.ks_tab_pane_for_customer.ks_cur_act) {
  background-color: rgb(255, 104, 0) !important;
}

.ks_tabs_menu {
  position: relative !important;
  outline-offset: 0px !important;
  background-color: #1238ee !important;
  border: 1px solid #a9aff7 !important;
  border-radius: 22px !important;
  outline: 3px #333 !important;
  border-color: rgb(168, 176, 247) !important;
  background-color: rgb(18, 56, 238) !important;
}

.ks_tabs_menu.ks_tab_customer {
  border-color: rgb(255, 166, 122) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ks_tab_link {
  max-width: 100% !important;
  display: inline-block !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  text-decoration: none !important;
  padding: 9px 30px !important;
  text-align: left !important;
  cursor: pointer !important;
  color: #222222 !important;
  background-color: #dddddd !important;
}

.ks_tab_link_for_business {
  background-color: rgba(221, 221, 221, 0) !important;
  border-radius: 0 !important;
}

.ks_tab_link.ks_cur_act {
  background-color: #c8c8c8 !important;
}

.ks_tab_link_for_business.ks_cur_act {
  width: auto !important;
  float: left !important;
  background-color: #ffffff !important;
  border: 0 #000 !important;
  border-radius: 20px !important;
}

.ks_text_block_22 {
  color: #1238ee !important;

  font-size: 18px !important;
  font-weight: 500 !important;
  color: rgb(18, 56, 238) !important;
}

.ks_tabs_menu.ks_tab_customer .ks_text_block_22 {
  color: rgb(255, 255, 255) !important;
}

.ks_tab_link_for_customer {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 20px !important;
}

.ks_tab_link_for_customer.ks_cur_act {
  background-color: #fff !important;
}

.ks_text_block_21 {
  color: #fff !important;

  font-size: 18px !important;
  font-weight: 500 !important;
  color: rgb(255, 255, 255) !important;
}

.ks_tabs_menu.ks_tab_customer .ks_text_block_21 {
  color: rgb(255, 104, 0) !important;
}

.ks_tabs_content {
  position: relative !important;
  display: block !important;
  overflow: hidden !important;
  width: 100% !important;
  height: auto !important;
  max-width: 1100px !important;
  flex-direction: column !important;
  align-items: center !important;
  display: flex !important;
}

.ks_tab_pane {
  position: relative !important;
  display: none !important;
}

.ks_tab_pane.ks_cur_act {
  display: block !important;
}

.ks_tab_pane_for_business {
  width: 100% !important;
  max-width: 1100px !important;
  background-color: #1038ee !important;
  border-radius: 20px !important;
  align-self: center !important;
}

.ks_tab_pane_title_block {
  width: auto !important;
  grid-column-gap: 12px !important;
  grid-row-gap: 12px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 40px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 180px !important;
  padding-right: 180px !important;
  display: flex !important;
}

.ks_tab_pane_title {
  color: #fff !important;
  text-align: center !important;
  letter-spacing: -0.03em !important;
  order: 1 !important;

  font-size: 36px !important;
  font-weight: 500 !important;
  line-height: 45px !important;
}

.ks_tab_pane_title.ks_kh_lbl {
  line-height: 58px !important;
}

.ks_text_97 {
  opacity: 0.7 !important;
  color: #fff !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
}

.ks_qr_block {
  flex-direction: column !important;
  order: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 40px !important;
  display: flex !important;
}

.ks_qr_block > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_tab_pane_for_customer {
  width: 100% !important;
  max-width: 1100px !important;
  background-color: #ff6800 !important;
  border-radius: 20px !important;
  align-self: center !important;
}

.ks_image_22 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  margin-top: -4px !important;
}

.ks_section_3 {
  width: 100% !important;
  grid-column-gap: 64px !important;
  grid-row-gap: 64px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 140px 90px 0 !important;
  display: flex !important;
}

.ks_section_container {
  width: 100% !important;
  max-width: 1200px !important;
  grid-column-gap: 100px !important;
  grid-row-gap: 100px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-bottom: 0 !important;
  display: flex !important;
}

.ks_section_title_block {
  width: 100% !important;
  max-width: 682px !important;
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_title {
  max-width: 682px !important;
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;

  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 57px !important;
}

.ks_frame_5441 {
  width: 100% !important;
  max-width: 980px !important;
  grid-column-gap: 91px !important;
  grid-row-gap: 91px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: flex-start !important;
  margin-top: 40px !important;
  margin-bottom: 0 !important;
  display: flex !important;
}

.ks_frame_5442 {
  grid-column-gap: 22px !important;
  grid-row-gap: 22px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_frame_5442 > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_text_32 {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  font-size: 36px !important;
  font-weight: 500 !important;
}

.ks_text_33 {
  width: auto !important;
  opacity: 0.5 !important;
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 22px !important;
  font-weight: 500 !important;
  line-height: 32px !important;
}

.ks_section_4 {
  width: 100% !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 170px !important;
  margin-bottom: 180px !important;
  padding: 0 !important;
  display: flex !important;
}

.ks_section_container_2 {
  width: 100% !important;
  max-width: none !important;
  grid-column-gap: 60px !important;
  grid-row-gap: 60px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_title_block_2 {
  width: 100% !important;
  max-width: 489px !important;
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_title_2 {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 57px !important;
}

.ks_section_title_2.ks_kh_lbl {
  line-height: 65px !important;
}

.ks_section_title_3.ks_kh_lbl {
  line-height: 65px !important;
}

.ks_text_span_10 {
  color: #ff6702 !important;
}

.ks_columns_2 {
  width: 100% !important;
  grid-column-gap: 31px !important;
  grid-row-gap: 31px !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_f2wf_columns_2 {
  width: 100% !important;
  grid-column-gap: 32px !important;
  grid-row-gap: 32px !important;
  justify-content: space-between !important;
  align-self: center !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.ks_card_3 {
  width: 534px !important;
  height: 681px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #f4f6fb !important;
  border-radius: 20px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
}

.ks_card_3 > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_card_4 {
  width: 534px !important;
  height: 681px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff8f5 !important;
  border-radius: 20px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
}

.ks_card_4 > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_image_23 {
  order: 1 !important;
  margin-top: 0 !important;
}

.ks_frame_5445 {
  grid-column-gap: 24px !important;
  grid-row-gap: 24px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  padding-top: 60px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  display: flex !important;
}

.ks_text_36 {
  color: #000 !important;
  letter-spacing: -0.02em !important;
  padding-top: 0 !important;

  font-size: 36px !important;
  font-weight: 500 !important;
  line-height: 44px !important;
}

.ks_text_span_11 {
  color: #101fea !important;
}

.ks_text_span_12 {
  color: #ff6704 !important;
}

.ks_section_5 {
  width: 100% !important;
  grid-column-gap: 64px !important;
  grid-row-gap: 64px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: flex !important;
}

.ks_section_container_3 {
  width: 100% !important;
  max-width: none !important;
  grid-column-gap: 80px !important;
  grid-row-gap: 80px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  /* padding-left: 90px !important; */
  /* padding-right: 90px !important; */
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
}

.ks_section_title_block_3 {
  width: 100% !important;
  max-width: 530px !important;
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_title_3 {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  margin-top: 0 !important;

  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 57px !important;
}

.ks_text_span_13 {
  color: #101fea !important;
}

.ks_frame_5446 {
  width: auto !important;
  grid-column-gap: 121px !important;
  grid-row-gap: 121px !important;
  flex: 0 auto !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding-top: 40px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
  overflow: visible !important;
}

.ks_frame_5447 {
  grid-column-gap: 30px !important;
  grid-row-gap: 30px !important;
  flex-direction: column !important;
  flex: none !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_frame_5447 > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_text_37 {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  padding-bottom: 5px !important;

  font-size: 24px !important;
  font-weight: 500 !important;
}

.ks_section_6 {
  width: 100% !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 170px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  display: flex !important;
}

.ks_section_title_block_4 {
  width: 100% !important;
  max-width: 530px !important;
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_title_4 {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  margin-bottom: 64px !important;

  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 57px !important;
}

.ks_text_span_14 {
  color: #1038ee !important;
}

.ks_basic_box {
  width: 534px !important;
  height: auto !important;
  grid-column-gap: 40px !important;
  grid-row-gap: 40px !important;
  background-color: #fff8f5 !important;
  border: 2px solid #ffeadc !important;
  border-radius: 20px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 60px 40px !important;
  display: flex !important;
}

.ks_basic_box .ks_frame_5445 {
  width: 100% !important;
  grid-column-gap: 60px !important;
  grid-row-gap: 60px !important;
  text-align: center !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
}

.ks_div_block_3 {
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  text-align: center !important;
  flex-direction: column !important;
  align-self: center !important;
  display: flex !important;
}

.ks_div_block_4 {
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  flex-direction: column !important;
  display: flex !important;
}

.ks_text_35 {
  opacity: 1 !important;
  color: #ff6702 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  align-self: center !important;

  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 41px !important;
}

.ks_text_block {
  color: #a58e7f !important;
  align-self: center !important;

  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 31px !important;
}

.ks_text_block_2 {
  color: #4b2409 !important;
  align-self: center !important;

  font-size: 110px !important;
  font-weight: 500 !important;
  line-height: 133px !important;
}

.ks_text_block_3 {
  opacity: 0.5 !important;
  color: #4b2409 !important;
  align-self: center !important;

  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.ks_div_block_5 {
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  flex-direction: column !important;
  display: flex !important;
}

.ks_text_block_4 {
  color: #4b2409 !important;
  text-align: center !important;
  align-self: center !important;

  font-size: 24px !important;
  line-height: 31px !important;
}

.ks_text_block_5 {
  height: auto !important;
  color: #4b2409 !important;
  text-align: center !important;
  align-self: center !important;

  font-size: 24px !important;
  line-height: 30px !important;
}

.ks_button_29 {
  width: 100% !important;
  height: 54px !important;
  max-width: 414px !important;
  grid-column-gap: 6px !important;
  grid-row-gap: 6px !important;
  background-color: #ff6700 !important;
  border: 1px #1234c1 !important;
  border-radius: 13px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 14px 23px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_text_109 {
  color: #fff !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;
  border: 1px #000 !important;

  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 500 !important;
}

.ks_vectors_wrapper_34 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 10.5059px !important;
  height: 18.1436px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_standard_box {
  width: 534px !important;
  height: auto !important;
  grid-column-gap: 40px !important;
  grid-row-gap: 40px !important;
  background-color: #f3f6fc !important;
  border: 2px solid #dde3fa !important;
  border-radius: 20px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 60px 40px !important;
  display: flex !important;
}

.ks_standard_box .ks_frame_5445 {
  width: 100% !important;
  grid-column-gap: 60px !important;
  grid-row-gap: 60px !important;
  text-align: center !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
}

.ks_text_35_1 {
  opacity: 1 !important;
  color: #101fea !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  align-self: center !important;

  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 41px !important;
}

.ks_text_block_1 {
  color: #9085a3 !important;
  align-self: center !important;

  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 31px !important;
}

.ks_text_block_2_1 {
  color: #2d154b !important;
  align-self: center !important;

  font-size: 110px !important;
  font-weight: 500 !important;
  line-height: 133px !important;
}

.ks_text_block_3_1 {
  opacity: 0.5 !important;
  color: #2d154b !important;
  align-self: center !important;

  font-size: 24px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.ks_text_block_20 {
  color: #2d154b !important;
  text-align: center !important;
  align-self: center !important;

  font-size: 24px !important;
  line-height: 31px !important;
}

.ks_text_block_20_1 {
  height: auto !important;
  color: #2d154b !important;
  text-align: center !important;
  align-self: center !important;

  font-size: 24px !important;
  line-height: 30px !important;
}

.ks_btn_standard {
  width: 100% !important;
  height: 54px !important;
  max-width: 414px !important;
  grid-column-gap: 6px !important;
  grid-row-gap: 6px !important;
  background-color: #0f38ee !important;
  border: 1px #1234c1 !important;
  border-radius: 13px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 14px 23px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_hero_heading_left_9 {
  width: 100%;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-self: center !important;
  align-items: stretch !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
  display: flex !important;
}

.ks_frame_2401 {
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  flex: 0 auto !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 40px !important;
  display: flex !important;
}

.ks_text_110 {
  display: block !important;
}

.ks_text_110_1 {
  color: #000000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
}

.ks_text_110_2 {
  width: auto !important;
  color: #101fea !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
  cursor: pointer !important;
}

.ks_link_block {
  background-color: transparent !important;
  max-width: 100% !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.ks_frame_5493 {
  width: auto !important;
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  text-align: right !important;
  flex: 0 auto !important;
  justify-content: flex-end !important;
  align-items: center !important;

  display: flex !important;
}

.ks_vectors_wrapper_35 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 19.9878px !important;
  height: 20.0025px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_text_111 {
  width: auto !important;
  color: #101fea !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
}

.ks_frame_3875 {
  flex-direction: row !important;
  flex: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 60px !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.ks_frame_3873 {
  width: 100% !important;
  height: 711px !important;
  max-width: 540px !important;
  grid-column-gap: 70px !important;
  grid-row-gap: 70px !important;
  background-color: #f4f6fb !important;
  border: 2px solid rgba(15, 56, 238, 0.1) !important;
  border-top-left-radius: 13px !important;
  border-bottom-left-radius: 13px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-right: -1px !important;
  padding: 60px !important;
  display: flex !important;
  position: relative !important;
}

.ks_frame_3872 {
  width: 100% !important;
  grid-column-gap: 30px !important;
  grid-row-gap: 30px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_frame_3871 {
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_text_128 {
  color: #0f1fea !important;
  letter-spacing: -0.02em !important;

  font-size: 34px !important;
  font-weight: 600 !important;
}

.ks_text_129 {
  opacity: 0.5 !important;
  color: #2d154b !important;
  letter-spacing: -0.02em !important;

  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 31px !important;
}

.ks_text_block_37 {
  letter-spacing: 0 !important;
  text-indent: 0 !important;
  column-count: 0 !important;

  font-size: 20px !important;
  font-weight: 400 !important;
}

.ks_text_block_37 > span {
  color: #2d154b !important;
  letter-spacing: -0.02em !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
}

.ks_image_35 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.ks_frame_3870 {
  width: 100% !important;
  height: 711px !important;
  max-width: 563px !important;
  grid-column-gap: 40px !important;
  grid-row-gap: 40px !important;
  background-color: #fff !important;
  border: 2px solid rgba(15, 56, 238, 0.1) !important;
  border-top-right-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-left: -1px !important;
  padding: 60px !important;
  display: flex !important;
}

.ks_w_form {
  margin: 0 0 15px !important;
}

.ks_form_block_2 {
  width: 100% !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-bottom: 0 !important;
  display: fle !important;
}

.ks_form_4 {
  width: 100% !important;
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  color: #000 !important;
  flex-direction: column !important;
  flex: 0 auto !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_text_130 {
  color: #000 !important;
  letter-spacing: -0.02em !important;
  margin-bottom: 0 !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit !important;
  font: inherit !important;
  margin: 0 !important;
}

.ks_w_input,
.ks_w_select {
  display: block !important;
  width: 100% !important;
  height: 38px !important;
  padding: 8px 12px !important;
  margin-bottom: 10px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #333333 !important;
  vertical-align: middle !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
}

.ks_w_input:focus,
.ks_w_select:focus {
  border-color: #3898ec !important;
  outline: 0 !important;
}

.ks_text_field_6 {
  width: 100% !important;
  height: 54px !important;
  color: #000 !important;
  -webkit-text-stroke-color: #000 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 13px !important;
  margin-bottom: 0 !important;
  padding: 15px 16px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  display: block !important;
}

.ks_text_field_7 {
  width: 100% !important;
  height: 54px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 13px !important;
  margin-bottom: 0 !important;
  padding: 15px 16px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
}

.ks_text_131 {
  color: #000 !important;
  letter-spacing: -0.02em !important;
  margin-top: 20px !important;
  margin-bottom: 0 !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
}

.ks_select_field_4 {
  height: 54px !important;
  background-color: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 13px !important;
  padding: 15px 16px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
}

.ks_w_textarea {
  overflow: auto !important;
}

.ks_w_textarea {
  height: 120px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 13px !important;
  padding-top: 15px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;

  font-size: 20px !important;
  font-weight: 500 !important;
}

.ks_w_textarea::placeholder {
  color: #808080 !important;
}

.ks_w_textarea.ks_w_input,
.ks_w_textarea.ks_w_select {
  height: auto !important;
}

.ks_frame_3869 {
  width: 100% !important;
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_button_39 {
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #0f1fea !important;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 42px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 14px 24px !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_text_134 {
  color: #fff !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;

  font-size: 21px !important;
  font-weight: 500 !important;
}

.ks_w_form_done {
  display: none !important;
  padding: 20px !important;
  text-align: center !important;
  background-color: #dddddd !important;
}

.ks_w_form_fail {
  display: none !important;
  margin-top: 10px !important;
  padding: 10px !important;
  background-color: #ffdede !important;
}

.ks_div_block_41 {
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 170px !important;
  margin-bottom: 160px !important;
  padding-left: 90px !important;
  padding-right: 90px !important;
  display: flex !important;
}

.ks_div_block_41_text {
  color: #000 !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
  margin-bottom: 64px !important;

  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 57px !important;
}

.ks_text_span_18 {
  color: #101fea !important;
}

.ks_w_tabs {
  position: relative !important;
}

.ks_w_tabs_6 {
  width: 100% !important;
  flex-direction: column !important;
  align-items: stretch !important;
  margin: 0 !important;
  display: flex !important;
}

.ks_w_tab_menu {
  position: relative !important;
}

.ks_w_tabs_menu_4 {
  border-bottom: 1px solid #acacac !important;

  font-size: 20px !important;
  font-weight: 600 !important;
}

.ks_w_inline_block {
  max-width: 100% !important;
  display: inline-block !important;
}

.ks_w_tab_link {
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  text-decoration: none !important;
  padding: 9px 30px !important;
  text-align: left !important;
  cursor: pointer !important;
  color: #222222 !important;
  background-color: #dddddd !important;
}

.ks_w_tab_link_news {
  width: 95px !important;
  height: 65px !important;
  background-color: rgba(221, 221, 221, 0) !important;
  border-bottom: 1px #101fea !important;
  padding: 20px !important;
}

.ks_w_tab_link.ks_w_current {
  background-color: #c8c8c8 !important;
}

.ks_w_tab_link_news.ks_w_current {
  height: 65px !important;
  color: #0e21ea !important;
  background-color: rgba(129, 29, 29, 0) !important;
  border-bottom-style: solid !important;
  padding: 20px !important;
}

.ks_text_block_38 {
  text-align: center !important;
  font-size: 20px !important;
}

.ks_tab_link_customer_story {
  height: 65px !important;
  background-color: rgba(200, 200, 200, 0) !important;
  align-items: center !important;
  padding: 20px !important;
}

.ks_tab_link_customer_story.ks_w_current {
  width: 191px !important;
  color: #101fea !important;
  background-color: rgba(200, 200, 200, 0) !important;
  border-bottom: 1px solid #101fea !important;
}

.ks_text_block_39 {
  text-align: center !important;
}

.ks_w_tab_content {
  position: relative !important;
  display: block !important;
  overflow: hidden !important;
  width: 100% !important;
  height: auto !important;
  max-width: 1100px !important;
  flex-direction: column !important;
  align-items: center !important;
  display: flex !important;
}

.ks_w_table {
  border: none !important;
}

.ks_w_table tr {
  border-bottom: 1px solid #cccccc !important;
}

.ks_w_table tr td {
  padding-left: 10px !important;
  padding-right: 10px !important;
  white-space: nowrap !important;
}

.ks_w_tbl_hd {
  color: #2d154b !important;
  font-family: Inter !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  height: 66px !important;
  opacity: 0.5 !important;
}

.ks_w_tbl_data {
  color: #2d154b !important;

  font-size: 1.25rem !important;
  font-weight: 500 !important;
  height: 64px !important;
}

.ks_w_layout_grid {
  grid-row-gap: 16px !important;
  grid-column-gap: 16px !important;
  grid-template-rows: auto auto !important;
  grid-template-columns: 1fr 1fr !important;
  grid-auto-columns: 1fr !important;
  display: grid !important;
}

.ks_w_grid {
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  grid-template: "." / 0.25fr 0.25fr 1fr 0.25fr !important;
  grid-auto-columns: 1fr !important;
  grid-auto-flow: column !important;

  font-size: 20px !important;
  font-weight: 500 !important;
  display: block !important;
}

.ks_w_tab_pane {
  width: 100% !important;
  position: relative !important;
  display: none !important;
}

.ks_w_tab_active {
  display: block !important;
}

.ks_frame_5509_news_container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ks_frame_5509 {
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: flex-start !important;
  margin-top: 40px !important;
  display: flex !important;
  overflow: visible !important;
}

.ks_frame_5509_customer_container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.ks_w_tab_content .ks_frame_5509_customer_container {
  display: none !important;
}

.ks_w_tab_content.ks-customer-active .ks_frame_5509_news_container {
  display: none !important;
}

.ks_w_tab_content.ks-customer-active .ks_frame_5509_customer_container {
  display: flex !important;
}

.ks_button_46 {
  width: 54px !important;
  height: 54px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #f4f6fb !important;
  border: 1px #1234c1 !important;
  border-radius: 33px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  text-decoration: none !important;
  display: flex !important;
  cursor: pointer !important;
}

.ks_vectors_wrapper_45 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 19.6px !important;
  height: 18.15px !important;
  object-fit: fill !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_w_chevback,
.ks_w_chevnext {
  width: 54px !important;
  height: 54px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #f4f6fb !important;
  border: 1px #1234c1 !important;
  border-radius: 33px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  text-decoration: none !important;
  display: flex !important;
  cursor: pointer !important;
}

.ks_vectors_wrapper_46 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 10.5166px !important;
  height: 18.1436px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_button_47 {
  width: 54px !important;
  height: 54px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #0f1fea !important;
  border: 1px solid #1234c1 !important;
  border-radius: 33px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  text-decoration: none !important;
  display: flex !important;
  cursor: pointer !important;
}

.ks_text_145 {
  color: #fff !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;

  font-size: 22px !important;
  font-weight: 500 !important;
}

.ks_text_146 {
  color: #2d154b !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;

  font-size: 22px !important;
  font-weight: 500 !important;
}

.ks_vectors_wrapper_47 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 10.5059px !important;
  height: 18.1436px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

a:active,
a:hover {
  outline: 0 !important;
}

.ks_w_tab_pane_customer_story {
  padding-top: 40px !important;
  transition: opacity 300ms ease 0s !important;
}

.ks_w_slider {
  position: relative !important;
  height: 300px !important;
  text-align: center !important;
  background: #dddddd !important;
  clear: both !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.ks_slider {
  height: auto !important;
  background-color: rgba(221, 221, 221, 0) !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-right: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  display: block !important;
  overflow: hidden !important;
}

.ks_w_slider_mask {
  position: relative !important;
  display: block !important;
  overflow: hidden !important;
  z-index: 1 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100% !important;
  white-space: nowrap !important;
}

.ks_mask {
  width: 42% !important;
  height: auto !important;
  margin-bottom: 70px !important;
  padding-right: 0 !important;
  overflow: visible !important;
}

.ks_w_slide {
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  width: 100% !important;
  height: 100% !important;
  white-space: normal !important;
  text-align: left !important;
  transform: translateX(0px) !important;
  opacity: 1 !important;
  transition: transform 500ms ease 0s !important;
}

.ks_slide {
  width: auto !important;
  height: 100% !important;
  padding-right: 40px !important;
}

.ks_slide_3 {
  width: auto !important;
  height: 100% !important;
  padding-right: 40px !important;
}

.ks_div_block_57 {
  width: 420px !important;
  height: auto !important;
  max-width: none !important;
  background-color: #f4f6fb !important;
  border: 2px solid #dde3fa !important;
  border-radius: 10px !important;
  margin-right: 0 !important;
  padding: 40px !important;

  font-size: 24px !important;
}

.ks_div_block_60 {
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  flex-direction: column !important;
  display: flex !important;
}

.ks_div_block_59 {
  width: 64px !important;
  height: 64px !important;
  background-color: #d9d9d9 !important;
  border-radius: 44px !important;
}

.ks_text_block_41 {
  width: auto !important;
  height: auto !important;
  word-break: break-all !important;
  font-weight: 600 !important;
  line-height: 25px !important;
}

.ks_text_block_42 {
  width: auto !important;
  height: auto !important;
  line-height: 31px !important;
}

.ks_w_slider_arrow_left,
.ks_w_slider_arrow_right {
  position: absolute !important;
  width: 80px !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  cursor: pointer !important;
  overflow: hidden !important;
  color: white !important;
  font-size: 40px !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.ks_w_slider_arrow_left {
  z-index: 3 !important;
  right: auto !important;
}

.ks_left_arrow_2 {
  width: 54px !important;
  height: 54px !important;
  background-color: #f4f6fa !important;
  border-radius: 38px !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 14px 20px !important;
  display: flex !important;
  position: absolute !important;
  top: auto !important;
  bottom: 0% !important;
  left: 0% !important;
  right: auto !important;
}

.ks_left_arrow {
  width: 54px !important;
  height: 54px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  background-color: #f4f6fb !important;
  border: 1px #1234c1 !important;
  border-radius: 33px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  text-decoration: none !important;
  display: flex !important;
}

.ks_w_slider_aria_label {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.vectors-wrapper-48 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 10.5166px !important;
  height: 18.1436px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

[class^="w-icon-"],
[class*=" w-icon-"] {
  font-family: "webflow-icons" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.w-icon-slider-left,
.w-icon-slider-right {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  width: 1em !important;
  height: 1em !important;
}

.icon-2 {
  color: rgba(255, 255, 255, 0) !important;
}

.w-slider-arrow-left [class^="w-icon-"],
.w-slider-arrow-right [class^="w-icon-"],
.w-slider-arrow-left [class*=" w-icon-"],
.w-slider-arrow-right [class*=" w-icon-"] {
  position: absolute !important;
}

.w-slider-arrow-right {
  z-index: 4 !important;
  left: auto !important;
}

.right-arrow {
  width: 54px !important;
  height: 54px !important;
  background-color: #f4f6fb !important;
  border-radius: 38px !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 14px 20px !important;
  display: flex !important;
  position: absolute !important;
  top: auto !important;
  bottom: 0% !important;
  left: auto !important;
  right: 0% !important;
  overflow: hidden !important;
}

.right-arrow-block {
  width: 54px !important;
  height: 54px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #f4f6fb !important;
  border: 1px #1234c1 !important;
  border-radius: 33px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  text-decoration: none !important;
  display: flex !important;
}

.vectors-wrapper-49 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 10.5059px !important;
  height: 18.1436px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks_section_7 {
  width: auto !important;
  height: auto !important;
  grid-column-gap: 80px !important;
  grid-row-gap: 80px !important;
  background-color: rgba(244, 245, 247, 0) !important;
  justify-content: center !important;
  align-items: flex-start !important;
  margin-top: 90px !important;
  margin-bottom: 0 !important;
  padding: 0 90px !important;
  display: flex !important;
}

.ks_div_block_2 {
  width: 1100px !important;
  height: 311px !important;
  max-height: none !important;
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  background-image: url("../../public/asset/hero/landing-page/Rectangle-4445.svg") !important;
  background-position: 50% 100% !important;
  background-size: cover !important;
  border-radius: 10px !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-top: 0 !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  display: flex !important;
}

.ks_frame_5475 {
  width: auto !important;
  height: auto !important;
  grid-column-gap: 24px !important;
  grid-row-gap: 24px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  display: flex !important;
}

.ks_frame_5476 {
  width: auto !important;
  max-width: none !important;
  grid-column-gap: 10px !important;
  grid-row-gap: 10px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.ks_text_60 {
  color: #000 !important;
  letter-spacing: -0.02em !important;
  margin-right: -66px !important;
  padding-right: 0 !important;

  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: 41px !important;
}

.text-span-15 {
  color: #1038ee !important;
}

.text-61 {
  height: auto !important;
  max-width: 347px !important;
  opacity: 0.5 !important;
  color: #000 !important;
  letter-spacing: -0.02em !important;
  margin-right: 0 !important;
  padding-right: 0 !important;

  font-size: 22px !important;
  font-weight: 500 !important;
  line-height: 31px !important;
}

.button-14 {
  width: auto !important;
  height: 54px !important;
  grid-column-gap: 4px !important;
  grid-row-gap: 4px !important;
  text-align: left !important;
  background-color: #ff6800 !important;
  border: 2px rgba(15, 56, 238, 0.3) !important;
  border-radius: 28px !important;
  flex: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 0 !important;
  padding: 14px 24px !important;
  font-size: 21px !important;
  text-decoration: none !important;
  display: flex !important;
}

.start-collect-now {
  color: #fff !important;
  text-align: left !important;
  letter-spacing: -0.01em !important;

  font-size: 21px !important;
  font-weight: 500 !important;
}

.vectors-wrapper-25 {
  width: 10px !important;
  height: 18px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.image-24 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 497.64px !important;
  height: 229.2px !important;
  align-self: flex-end !important;
  margin-right: 0 !important;
  display: block !important;
}

.main_footer {
  width: auto !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  background-color: #fff !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin: 90px 0 0 !important;
  padding: 0 90px !important;
  display: flex !important;
}

.frame-5467 {
  width: 100% !important;
  max-width: 1100px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  flex-direction: row !important;
  flex: 0 auto !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  margin: 0 0 90px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
}

.frame-5473 {
  grid-column-gap: 20px !important;
  grid-row-gap: 20px !important;
  flex: 0 auto !important;
  order: 1 !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin-top: 0 !important;
  margin-left: auto !important;
  padding-left: 0 !important;
  display: flex !important;
}

.w-inline-block {
  max-width: 100% !important;
  display: inline-block !important;
}

.vectors-wrapper-22 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: auto !important;
  height: 40px !important;
  max-width: none !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: fill !important;
  justify-content: center !important;
  align-items: center !important;
  display: inline-block !important;
}

.image-21 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  height: 40px !important;
  max-width: none !important;
}

.frame-5468 {
  max-width: none !important;
  grid-column-gap: 37px !important;
  grid-row-gap: 37px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  display: flex !important;
}

.frame-5469 {
  grid-column-gap: 44px !important;
  grid-row-gap: 44px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.frame-5469 > img {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.frame-5469-text {
  max-width: none !important;
  color: #000 !important;
  opacity: 0.5 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.frame-54-text {
  max-width: none !important;
  opacity: 0.5 !important;
  color: #000 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.frame-5470 {
  grid-column-gap: 16px !important;
  grid-row-gap: 16px !important;
  flex: 0 auto !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.frame-5470-text {
  max-width: none !important;
  opacity: 0.5 !important;
  color: #000 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.frame-5470-text-1 {
  color: #000 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.frame-5471 {
  width: auto !important;
  max-width: none !important;
  grid-column-gap: 6px !important;
  grid-row-gap: 6px !important;
  flex: 0 auto !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.text-58 {
  opacity: 0.5 !important;
  color: #000 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
}

.text-59 {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.powered-by-kosign-cambodia-0 {
  color: #000 !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
}

.powered-by-kosign-cambodia-3 {
  color: #0f38ee !important;
  letter-spacing: -0.02em !important;

  font-size: 14px !important;
  font-weight: 500 !important;
}

.frame-5472 {
  grid-column-gap: 28px !important;
  grid-row-gap: 28px !important;
  flex: 0 auto !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  display: flex !important;
}

.vectors-wrapper-7 {
  border: 0 !important;
  max-width: 100% !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 28px !important;
  height: 27.8299px !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  object-fit: cover !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ks-trial-note-container {
  background-color: #fdd133 !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999999999 !important;
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}
.ks-black {
  color: #333333 !important;
}
.ks-cursor-pointer {
  cursor: pointer !important;
}
.ks-form-input-group {
  display: flex !important;
  align-items: center !important;
}
.ks-form-input-group input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.ks-form-input-group button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding: 0.65rem 0.75rem !important;
}
.ks-weekly-calendar {
  width: 100% !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e0e6ec !important;
  border-radius: 0.625rem !important;
}
.ks-week-header {
  width: 100% !important;
  padding: 0.625rem !important;
  background-color: #eff2f5 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  color: #72787e !important;
}
.ks-week-header:first-child {
  border-top-left-radius: 0.625rem !important;
}
.ks-week-header:last-child {
  border-top-right-radius: 0.625rem !important;
}
.ks-month-date-container {
  width: 100% !important;
  padding: 0.9375rem 0.875rem !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.625rem !important;
}
.ks-month-date-container:hover,
.ks-month-date-container:hover * {
  cursor: pointer !important;
}
.ks-month-date-container:first-child {
  border-bottom-left-radius: 0.625rem !important;
}
.ks-month-date-container:last-child {
  border-bottom-right-radius: 0.625rem !important;
}
.ks-month-date-container * {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-size: 0.9375rem !important;
  color: #91919e !important;
}
.ks-month-date-container > label {
  font-weight: 600 !important;
}
.ks-month-date-container > label + * {
  font-weight: 500 !important;
}
.ks-month-date-container:not(.ks-yesterday) > label {
  color: #333333 !important;
}
.ks-month-date-container:not(.ks-yesterday) > label + * {
  color: #72787e !important;
}
.ks-month-date-container:not(.ks-yesterday):hover {
  background-color: #0f38ee !important;
}
.ks-month-date-container:not(.ks-yesterday).ks-active {
  background-color: #0f38ee !important;
}
.ks-month-date-container:not(.ks-yesterday):hover * {
  color: #ffffff !important;
}
.ks-month-date-container:not(.ks-yesterday).ks-active * {
  color: #ffffff !important;
}
.ks_btn_outline.ks-hover:hover {
  background-color: #0f38ee !important;
  color: #ffffff !important;
}
.ks_btn_outline.ks-active {
  background-color: #0f38ee !important;
  color: #ffffff !important;
}
.ks_btn_pm:hover {
  cursor: pointer !important;
}
.ks-host-user-profile {
  width: 84px !important;
  height: 84px !important;
  border-radius: 20px !important;
  background-color: #cccccc !important;
  position: relative !important;
}
.ks-active-badge {
  position: absolute !important;
  bottom: 0 !important;
  right: -5px !important;
  bottom: -5px !important;
}
.ks-active-badge {
  width: 26px !important;
  height: 26px !important;
  background-color: #04662e !important;
  border: 2px solid #ffffff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ks-active-badge.ks-circle {
  border-radius: 100% !important;
}
.ks-message-container {
  padding: 20px !important;
  background-color: #0f38ee !important;
  border-radius: 0.625rem !important;
  font-size: 0.9375rem !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}
.ks-message-container > * {
  text-align: center !important;
}
.ks-message-info-container {
  padding: 20px !important;
  background-color: #ffffff !important;
  border: 1px solid #e0e6ec !important;
  border-radius: 0.625rem !important;
}
.ks-message-info-container * {
  font-size: 0.9375rem !important;
  color: #333333 !important;
}
