@media screen and (min-width: 1280px) {
  .ks_section_1 {
    width: 100% !important;
    max-width: none !important;
    text-align: center !important;
    object-fit: scale-down !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }

  .ks_navbar_content {
    max-width: 1220px !important;
  }

  .ks_text_171 {
    align-self: center !important;
  }

  .ks_main_img {
    width: 100% !important;
    max-width: 1100px !important;
  }

  .ks_tab_pane_title_block {
    padding-left: 188px !important;
    padding-right: 188px !important;
  }

  .ks_f2wf_columns_2 {
    width: 100% !important;
    justify-content: center !important;
  }

  .ks_frame_5446 {
    max-width: 1100px !important;
  }

  .ks_basic_box {
    margin-top: 0 !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .ks_text_block {
    line-height: 28px !important;
  }

  .ks_text_block_1 {
    line-height: 28px !important;
  }

  .ks_text_block_2 {
    color: #4b2409 !important;
    margin-top: 20px !important;
    line-height: 110px !important;
  }

  .ks_div_block_5 {
    margin-top: -10px !important;
  }

  .ks_text_block_4 {
    font-size: 22px !important;
  }

  .ks_text_block_5 {
    font-size: 22px !important;
  }

  .ks_standard_box {
    border-radius: 20px !important;
    padding: 60px !important;
  }

  .ks_text_block_1 {
    line-height: 28px !important;
  }

  .ks_text_block_2_1 {
    margin-top: 20px !important;
    line-height: 110px !important;
  }

  .ks_text_block_20 {
    font-size: 22px !important;
  }

  .ks_text_block_20_1 {
    font-size: 22px !important;
  }

  .ks_hero_heading_left_9 {
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
    text-align: center !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-self: center !important;
    align-items: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_frame_2401 {
    max-width: 1100px !important;
    width: 100% !important;
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-self: auto !important;
    align-items: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_frame_5493 {
    display: flex !important;
  }

  .ks_text_111 {
    color: #101fea !important;
    font-style: normal !important;
  }

  .ks_w_tabs_6 {
    width: 1100px !important;
    max-width: 1100px !important;
    flex-direction: column !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-family: Inter, sans-serif !important;
    display: flex !important;
  }

  .ks_w_grid {
    grid-template-rows: 1fr auto auto auto auto auto !important;
    grid-template-columns: 0.25fr 0.25fr 1fr 0.25fr 0.25fr !important;
  }

  .ks_section_7 {
    width: auto !important;
    height: auto !important;
    background-color: rgba(244, 245, 246, 0) !important;
    background-image: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .ks_div_block_2 {
    width: 1100px !important;
    height: 311px !important;
    background-image: url("../../public/asset/hero/landing-page/Rectangle-4445.svg") !important;
    background-position: 100% !important;
    background-size: cover !important;
    display: flex !important;
  }

  .ks_frame_5475 {
    z-index: auto !important;
    padding-right: 0 !important;
    display: flex !important;
    position: static !important;
  }

  .ks_text_109 {
    font-weight: 400 !important;
  }

  .main_footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .frame-5467 {
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
    justify-content: space-between !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .frame-5473 {
    justify-content: flex-end !important;
    align-items: center !important;
    margin-top: 0 !important;
    margin-left: auto !important;
    padding-left: 0 !important;
  }

  .frame-5468 {
    margin-left: 0 !important;
  }

  .text-58 {
    letter-spacing: normal !important;
  }

  .ks_btn_blk:has(.ks_button_15) {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .ks_div_block_6 {
    background-image: url("../../public/asset/hero/landing-page/wallpapergradienit.jpg") !important;
    background-position: 50% !important;
    background-size: cover !important;
  }

  .ks_navbar_logo_left_3 {
    padding-right: 30px !important;
  }

  .ks_navbar_container {
    max-width: 728px !important;
  }

  .ks_navbar_container.ks_custom_navbar {
    max-width: 100% !important;
  }

  .ks_navbar_content {
    grid-column-gap: 50px !important;
    grid-row-gap: 50px !important;
  }

  .ks_navbar_brand {
    flex: 0 auto !important;
    padding-left: 0 !important;
  }

  .ks_navbar_menu {
    max-width: unset !important;
    flex: none !important;
  }

  .ks_menu_button {
    display: none !important;
  }

  .ks_button_15,
  .ks_button_16 {
    flex: none !important;
  }

  .ks_text_80 {
    font-family: Inter, sans-serif !important;
  }

  .ks_frame_5404 {
    padding-bottom: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_text_17 {
    font-size: 31px !important;
  }

  .ks_text_171 {
    height: auto !important;
    margin-bottom: 30px !important;
    font-size: 62px !important;
    line-height: 70px !important;
  }

  .ks_main_image_container {
    margin-top: 60px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_main_img_block {
    margin-top: 0 !important;
  }

  .ks_section_2 {
    margin-top: 100px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_div_block_7 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_tab_pane_title_block {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_section_3 {
    margin-top: 0 !important;
    padding-top: 100px !important;
    /* padding-left: 40px !important;
    padding-right: 40px !important; */
  }

  .ks_frame_5441 {
    margin-top: 0 !important;
    display: block !important;
  }

  .ks_frame_5442 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .ks_section_container_2 {
    margin-top: -50px !important;
  }

  .ks_f2wf_columns_2 {
    flex-direction: column !important;
    align-items: center !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_card_3 {
    width: 100% !important;
    height: auto !important;
  }

  .ks_text_36 {
    margin-bottom: 60px !important;
  }

  .ks_card_4 {
    width: 100% !important;
    height: auto !important;
    margin-top: 20px !important;
  }

  .ks_section_container_3 {
    /* padding-left: 40px !important; */
    /* padding-right: 40px !important; */
  }

  .ks_text_span_16 {
    color: #101fea !important;
  }

  .ks_frame_5446 {
    grid-column-gap: 121px !important;
    grid-row-gap: 121px !important;
    grid-template-rows: auto auto !important;
    grid-template-columns: 1fr 1fr !important;
    grid-auto-columns: 1fr !important;
    display: grid !important;
  }

  .ks_basic_box,
  .ks_standard_box {
    width: 100% !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .ks_button_29 {
    max-width: 100% !important;
    display: flex !important;
  }

  .ks_btn_standard {
    max-width: 100% !important;
  }

  .ks_frame_2401 {
    flex-direction: column !important;
  }

  .ks_frame_5493 {
    margin-top: 20px !important;
  }

  .ks_frame_3875,
  .ks_frame_3873,
  .ks_frame_3870 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_button_39 {
    width: 100% !important;
  }

  .ks_div_block_41 {
    margin-bottom: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_w_tabs_menu_4 {
    flex-direction: row !important;
    justify-content: center !important;
    display: flex !important;
  }

  .ks_tab_link_customer_story,
  .ks_tab_link_customer_story.ks_w_current,
  .ks_w_tab_link_news {
    width: 100vw !important;
    justify-content: center !important;
    display: flex !important;
  }

  .ks_slide {
    width: auto !important;
  }

  .ks_div_block_57 {
    width: 420px !important;
  }

  .ks_text_block_41 {
    line-height: 25px !important;
  }

  .ks_text_block_42 {
    word-break: break-all !important;
  }

  .ks_section_7 {
    width: 100vw !important;
    margin-bottom: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_div_block_2 {
    width: 100% !important;
  }

  .ks_frame_5475 {
    width: 100% !important;
    text-align: center !important;
    align-items: center !important;
    margin-left: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_text_60 {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-self: center !important;
    align-items: flex-start !important;
    margin-right: 0 !important;
    display: block !important;
  }

  .image-24 {
    display: none !important;
  }

  .main_footer {
    align-items: flex-start !important;
    margin-top: 60px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .frame-5467 {
    display: block !important;
  }

  .frame-5473 {
    justify-content: flex-start !important;
    align-items: stretch !important;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    padding-left: 0 !important;
    display: flex !important;
  }

  .vectors-wrapper-22 {
    align-items: center !important;
    margin-bottom: 15px !important;
  }

  .frame-5468 {
    max-width: none !important;
  }

  .frame-5469-text {
    width: auto !important;
    max-width: none !important;
    flex: none !important;
  }

  .frame-5470-text {
    width: auto !important;
    max-width: none !important;
    flex: none !important;
  }

  .frame-5471 {
    display: block !important;
  }

  .ks_btn_blk:has(.ks_button_15) {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .ks_div_block_6 {
    width: 100vw !important;
    height: auto !important;
    background-image: url("../../public/asset/hero/landing-page/wallpapergradienit.jpg") !important;
    background-position: 50% !important;
    background-size: cover !important;
  }

  .ks_navbar_container {
    margin-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_menu_button {
    display: block !important;
  }

  .ks_button_15 {
    margin-left: 0 !important;
    margin-bottom: 16px !important;
  }

  .ks_text_79 {
    font-family: Inter, sans-serif !important;
    font-size: 18px !important;
  }

  .ks_navbar_brand {
    flex: 0 auto !important;
    margin-right: 10px !important;
  }

  .ks_navbar_menu {
    height: auto !important;
    max-width: none !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    flex: 0 auto !important;
    justify-content: center !important;
    margin-top: 15px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-top: 20px !important;
    padding-right: 0 !important;
  }

  .ks_navbar_menu {
    display: none !important;
  }

  .w-nav[data-collapse="small"] .ks_navbar_menu {
    display: none !important;
  }

  .ks_menu_button {
    height: 40px !important;
    background-color: #cde8fb !important;
    border: 2px solid #a8c4f9 !important;
    border-radius: 20px !important;
    margin-right: 0 !important;
    padding: 7px 12px 0 !important;
  }

  .ks_frame_5404 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_text_17 {
    margin-bottom: 20px !important;
    font-size: 22px !important;
    line-height: 35px !important;
  }

  .ks_text_17.ks_custom_text_17 {
    margin-bottom: 30px !important;
    font-size: 31px !important;
    line-height: 20px !important;
  }

  .ks_text_171 {
    height: auto !important;
    margin-bottom: 31px !important;
    padding-bottom: 10px !important;
    font-size: 46px !important;
    line-height: 52px !important;
  }

  .ks_button_23 {
    width: auto !important;
    height: 54px !important;
    grid-column-gap: 7px !important;
    grid-row-gap: 7px !important;
  }

  .ks_text_94 {
    text-align: center !important;
  }

  .ks_vectors_wrapper_30 {
    margin-left: 0 !important;
  }

  .ks_main_image_container {
    margin-top: 100px !important;
  }

  .ks_main_img_block {
    max-width: none !important;
  }

  .ks_main_img {
    display: none !important;
  }

  .ks_main_img.ks_mobile {
    display: block !important;
  }

  .ks_section_2 {
    margin-top: 140px !important;
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
  }

  .ks_title_section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_title_sub_section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 35px !important;
  }

  .ks_title_sub_section > span {
    font-size: 36px !important;
  }

  .ks_title_sub_section > span + span {
    font-size: 36px !important;
  }

  .ks_div_block_7 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_tabs {
    padding-top: 24px !important;
  }

  .ks_tab_pane_title_block {
    text-align: center !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_tab_pane_title {
    font-size: 26px !important;
    line-height: 37px !important;
  }

  .ks_text_97 {
    font-size: 20px !important;
    line-height: 32px !important;
  }

  .ks_qr_block {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_section_3 {
    margin-top: 0 !important;
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
  }

  .ks_section_title {
    max-width: none !important;
    font-size: 36px !important;
    line-height: 42px !important;
  }

  .ks_frame_5441 {
    margin-top: -30px !important;
  }

  .ks_section_title_2 {
    font-size: 36px !important;
    line-height: 43px !important;
  }

  .ks_f2wf_columns_2 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_card_3 {
    width: 100% !important;
    height: auto !important;
    background-color: #f3f6fc !important;
    background-image: none !important;
    flex: none !important;
    align-self: center !important;
  }

  .ks_frame_5445 {
    width: 100% !important;
    margin-top: 60px !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
  }

  .ks_pc,
  .ks_mobile {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 20px !important;
    line-height: 29px !important;
  }

  .ks_text_36 {
    width: 100% !important;
    margin-top: -10px !important;
    margin-bottom: 60px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 28px !important;
    line-height: 38px !important;
  }

  .ks_card_4 {
    width: 100% !important;
    height: auto !important;
    /* background-color: #f3f6fc !important; */
    background-image: none !important;
    flex: none !important;
  }

  .ks_section_container_3 {
    /* padding-left: 20px !important; */
    /* padding-right: 20px !important; */
  }

  .ks_section_title_3 {
    font-size: 36px !important;
    line-height: 43px !important;
  }

  .ks_section_title_4 {
    font-size: 36px !important;
    line-height: 43px !important;
  }

  .ks_basic_box {
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
    background-color: #fff8f5 !important;
    background-image: none !important;
    flex: none !important;
    justify-content: center !important;
    align-self: center !important;
  }

  .ks_frame_5445 {
    width: 100% !important;
    flex: none !important;
    justify-content: center !important;
    align-self: center !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
  }

  .ks_section_4 .ks_frame_5445 {
    margin-top: 60px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .ks_div_block_3 {
    justify-content: center !important;
    align-items: center !important;
  }

  .ks_text_35 {
    width: 100% !important;
    margin-bottom: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 34px !important;
    line-height: 29px !important;
  }

  .ks_text_block {
    line-height: 26px !important;
  }

  .ks_text_block_1 {
    line-height: 26px !important;
  }

  .ks_text_block_2 {
    margin-top: 20px !important;
    line-height: 100px !important;
  }

  .ks_text_block_3 {
    font-weight: 500 !important;
    line-height: 31px !important;
  }

  .ks_div_block_5 {
    margin-top: auto !important;
  }

  .ks_text_block_4 {
    /* margin-top: -20px !important; */
    font-size: 22px !important;
  }

  .ks_text_block_5 {
    font-size: 22px !important;
  }

  .ks_text_109 {
    font-size: 20px !important;
    font-weight: 400 !important;
  }

  .ks_standard_box {
    width: 100% !important;
    height: auto !important;
    background-color: #f4f6fb !important;
    background-image: none !important;
    flex: none !important;
  }

  .ks_text_block_2_1 {
    margin-top: 20px !important;
    line-height: 100px !important;
  }

  .ks_text_block_3_1 {
    font-weight: 500 !important;
  }

  .ks_text_block_20 {
    /* margin-top: -20px !important; */
    font-size: 22px !important;
  }

  .ks_text_block_20_1 {
    font-size: 22px !important;
  }

  .ks_hero_heading_left_9 {
    justify-content: center !important;
    align-items: center !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_frame_2401 {
    justify-content: flex-start !important;
    align-items: center !important;
    grid-row-gap: 10px !important;
  }

  .ks_text_110 {
    text-align: center !important;
  }

  .ks_frame_3875 {
    flex-flow: column !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex !important;
  }

  .ks_frame_3873 {
    max-width: none !important;
    border-top-right-radius: 13px !important;
    border-bottom-left-radius: 0 !important;
    margin-bottom: -1px !important;
    margin-right: 0 !important;
  }

  .ks_frame_3870 {
    max-width: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 13px !important;
    margin-top: -1px !important;
    margin-left: 0 !important;
    display: block !important;
  }

  .ks_form_4 {
    display: flex !important;
  }

  .ks_frame_3869 {
    align-items: center !important;
  }

  .ks_div_block_41 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_div_block_41_text {
    font-size: 36px !important;
    line-height: 43px !important;
  }

  .ks_w_tabs_menu_4 {
    flex-direction: row !important;
    justify-content: center !important;
    align-items: stretch !important;
  }

  .ks_slide {
    width: auto !important;
  }

  .ks_div_block_57 {
    width: 420px !important;
    padding: 20px !important;
  }

  .ks_section_7 {
    width: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_div_block_2 {
    width: 100% !important;
    height: 385px !important;
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_frame_5475 {
    grid-column-gap: 30px !important;
    grid-row-gap: 30px !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0 !important;
  }

  .ks_frame_5476 {
    grid-column-gap: 24px !important;
    grid-row-gap: 24px !important;
    text-align: center !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
  }

  .ks_text_60 {
    margin-right: 0 !important;
  }

  .text-span-15 {
    color: #000 !important;
  }

  .text-61 {
    text-align: center !important;
    font-weight: 400 !important;
  }

  .button-14 {
    margin-right: 0 !important;
  }

  .start-collect-now {
    font-family: Inter, sans-serif !important;
  }

  .main_footer {
    width: 100vw !important;
    padding-left: 0 !important;
  }

  .frame-5467 {
    width: 100vw !important;
    order: -1 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
  }

  .frame-5473 {
    flex-flow: row !important;
    padding-top: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex !important;
  }

  .frame-5468 {
    width: auto !important;
    object-fit: scale-down !important;
    margin-right: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .frame-5471 {
    display: block !important;
  }

  .ks_btn_blk:has(.ks_button_15) {
    display: flex !important;
  }
}

@media screen and (max-width: 479px) {
  body.ks_landing_page_body {
    object-fit: fill !important;
    overflow: scroll !important;
  }

  .ks_section_1 {
    background-position: 50% !important;
    background-size: cover !important;
    padding-bottom: 0 !important;
  }

  .ks_navbar_logo_left_3 {
    margin-top: 54px !important;
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_navbar_container {
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
    flex-direction: row !important;
    flex: none !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    /* padding-left: 24px !important;
    padding-right: 24px !important; */
    max-width: none !important;
  }

  .ks_navbar_content {
    display: block !important;
  }

  .ks_navbar_brand {
    /* margin-right: 10px !important; */
    margin-right: 2.5rem !important;
  }

  .ks_navbar_menu {
    height: auto !important;
    max-width: none !important;
    grid-column-gap: 23px !important;
    grid-row-gap: 23px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    justify-content: center !important;
    margin-top: 15px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_menu_button {
    height: 40px !important;
    clear: left !important;
    background-color: #cde8fb !important;
    border: 2px solid #a8c4f9 !important;
    border-radius: 20px !important;
    margin-right: 0 !important;
    padding: 7px 12px 0 !important;
    position: static !important;
  }

  .ks_button_15 {
    margin-bottom: 16px !important;
  }

  .ks_text_79 {
    text-align: center !important;
    font-family: Inter, sans-serif !important;
    font-size: 14px !important;
  }

  .ks_text_80 {
    text-align: center !important;
    font-family: Inter, sans-serif !important;
    font-size: 14px !important;
  }

  .ks_small_container {
    margin-top: 120px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_frame_5404 {
    width: 100% !important;
  }

  .ks_text_17 {
    margin-bottom: 20px !important;
    font-size: 22px !important;
    line-height: 35px !important;
  }

  .ks_text_17.ks_custom_text_17 {
    margin-bottom: 20px !important;
    font-size: 22px !important;
    line-height: 35px !important;
  }

  .ks_text_171 {
    height: auto !important;
    max-width: none !important;
    font-size: 42px !important;
    line-height: 48px !important;
  }

  .ks-mobile {
    display: flex !important;
    flex-direction: column !important;
  }

  .ks_button_23 {
    /* width: 223px !important; */
    height: 54px !important;
  }

  .ks_text_94 {
    text-align: center !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    font-size: 18px !important;
  }

  /* .ks_vectors_wrapper_30 {
    width: 8px !important;
    height: 8px !important;
    margin-left: 0 !important;
  } */

  .ks_main_image_container {
    margin-top: 80px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ks_main_img {
    display: none !important;
  }

  .ks_main_img.ks_mobile {
    display: block !important;
  }

  .ks_section_2 {
    margin-top: 120px !important;
    padding-bottom: 0 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .ks_title_section {
    margin-bottom: 0 !important;
  }

  .ks_title_sub_section {
    margin-bottom: 0 !important;
  }

  .ks_title_sub_section > span {
    max-width: 342px !important;
    font-size: 36px !important;
    line-height: 1 !important;
    display: inline !important;
  }

  .ks_title_sub_section > span + span {
    font-size: 36px !important;
  }

  .ks_div_block_7 {
    margin-top: 50px !important;
    width: 100% !important;
  }

  .ks_tabs {
    padding-top: 24px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_tabs_menu {
    width: 100% !important;
    height: 42px !important;
    border-radius: 30px !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex !important;
  }

  .ks_tab_link {
    display: block !important;
  }

  .ks_tab_link_for_business {
    width: 50% !important;
    padding: 0 !important;
  }

  .ks_tab_link_for_customer {
    width: 50% !important;
    height: 40px !important;
    text-align: center !important;
    padding: 0 !important;
  }

  .ks_tab_link_for_business.ks_cur_act {
    width: 50% !important;
    height: 40px !important;
    border-radius: 30px !important;
    padding: 0 !important;
    line-height: 0 !important;
  }

  .ks_text_block_22 {
    width: 100% !important;
    text-align: center !important;
    font-size: 14px !important;
    line-height: 40px !important;
  }

  .ks_text_block_21 {
    font-size: 14px !important;
    line-height: 40px !important;
  }

  .ks_tab_pane_title_block {
    margin-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_tab_pane_title {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .ks_text_97 {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
  }

  .ks_qr_block {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_section_3 {
    margin-top: 120px !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_section_container {
    margin-top: 0 !important;
  }

  .ks_section_title {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .ks_frame_5441 {
    margin-top: -50px !important;
  }

  .ks_frame_5442 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .ks_section_4 {
    margin-top: 120px !important;
    margin-bottom: 0 !important;
  }

  .ks_section_container_2 {
    width: auto !important;
    max-width: none !important;
    margin-top: 0 !important;
  }

  .ks_section_title_block_2 {
    width: auto !important;
    max-width: none !important;
    align-self: center !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_section_title_2 {
    width: auto !important;
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .ks_f2wf_columns_2 {
    width: 100% !important;
    flex: none !important;
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
  }

  .ks_card_3 {
    width: auto !important;
    height: auto !important;
    max-height: none !important;
    max-width: none !important;
    flex: none !important;
    align-self: center !important;
  }

  .ks_section_4 .ks_frame_5445 {
    margin-top: 24px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .ks_pc,
  .ks_mobile {
    padding-left: 0 !important;
    font-size: 20px !important;
  }

  .ks_text_36 {
    width: auto !important;
    max-height: none !important;
    max-width: none !important;
    flex: none !important;
    align-self: flex-start !important;
    margin-top: -10px !important;
    margin-bottom: 30px !important;
    padding-left: 0 !important;
    font-size: 25px !important;
    line-height: 38px !important;
  }

  .ks_card_4 {
    width: auto !important;
    height: auto !important;
    max-height: none !important;
    max-width: none !important;
  }

  .ks_section_5 {
    margin-top: 120px !important;
    margin-bottom: 0 !important;
  }

  .ks_section_container_3 {
    /* padding-left: 20px !important; */
    /* padding-right: 20px !important; */
  }

  .ks_section_title_3 {
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .ks_frame_5446 {
    grid-column-gap: 60px !important;
    grid-row-gap: 60px !important;
  }

  .ks_section_6 {
    margin-top: 120px !important;
    margin-bottom: 0 !important;
  }

  .ks_section_title_4 {
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .ks_basic_box {
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
    max-width: none !important;
    flex: none !important;
    align-self: center !important;
    padding: 40px 24px !important;
  }

  .ks_frame_5445 {
    height: auto !important;
    flex: none !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .ks_frame_5445 {
    margin-top: 24px !important;
    padding: 0 24px !important;
  }

  .ks_text_35 {
    padding-left: 0 !important;
    font-size: 34px !important;
  }

  .ks_text_block {
    font-size: 16px !important;
  }

  .ks_text_block_1 {
    font-size: 16px !important;
  }

  .ks_text_block_2 {
    font-size: 90px !important;
  }

  .ks_text_block_4 {
    font-size: 20px !important;
    line-height: 29px !important;
  }

  .ks_text_block_5 {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .ks_standard_box {
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
    max-width: none !important;
    padding: 40px 24px !important;
  }

  .ks_text_block_2_1 {
    font-size: 90px !important;
  }

  .ks_text_block_20 {
    font-size: 20px !important;
    line-height: 29px !important;
  }

  .ks_text_block_20_1 {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  .ks_frame_5493 {
    margin-top: 20px !important;
  }

  .ks_frame_3875 {
    flex-direction: column !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex !important;
  }

  .ks_frame_3873 {
    height: auto !important;
    grid-column-gap: 30px !important;
    grid-row-gap: 30px !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 30px 24px !important;
  }

  .ks_frame_3872 {
    align-items: flex-start !important;
  }

  .ks_text_128 {
    text-indent: -1px !important;
    line-height: 28px !important;
  }

  .ks_text_129 {
    font-size: 16px !important;
  }

  .ks_text_block_37 span {
    width: auto !important;
    word-break: break-all !important;
  }

  .ks_image_35 {
    max-width: 60% !important;
  }

  .ks_frame_3870 {
    height: auto !important;
    padding: 30px 20px !important;
  }

  .ks_text_field_6 {
    font-size: 16px !important;
  }

  .ks_text_field_7,
  .ks_w_textarea {
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: 16px !important;
  }

  .ks_select_field_4 {
    padding-left: 12px !important;
    padding-right: 16px !important;
    font-size: 16px !important;
  }

  .ks_text_134 {
    font-size: 20px !important;
  }

  .ks_div_block_41_text {
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .ks_w_tab_link_news,
  .ks_w_tab_link_news.ks_w_current {
    width: 63vw !important;
  }

  .ks_tab_link_customer_story.ks_w_current {
    justify-content: center !important;
    align-items: stretch !important;
  }

  .ks_text_block_38,
  .ks_text_block_39 {
    font-size: 20px !important;
  }

  .ks_slide {
    padding-right: 1rem !important;
  }

  .ks_div_block_57 {
    width: 82vw !important;
    max-width: none !important;
  }

  .ks_text_block_41 {
    font-size: 18px !important;
  }

  .ks_text_block_42 {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .ks_frame_5509 {
    width: 100% !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
    justify-content: space-between !important;
  }

  .ks_button_46 {
    border-radius: 56px !important;
    display: none !important;
  }

  .ks_w_chevback,
  .ks_w_chevnext {
    border-radius: 56px !important;
  }

  .ks_button_47 {
    display: none !important;
  }

  .ks_section_7 {
    width: auto !important;
    margin-top: 60px !important;
  }

  .ks_div_block_2 {
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
    object-fit: scale-down !important;
    background-color: #f4f5f6 !important;
    background-image: radial-gradient(
            circle at 100% 100%,
            #ff6800 6%,
            #f4f6fb 57%
    ) !important;
    border-radius: 20px !important;
    flex-direction: row !important;
    align-self: center !important;
    overflow: visible !important;
  }

  .ks_frame_5475 {
    width: auto !important;
    height: auto !important;
    max-width: 342px !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    margin-left: 0 !important;
  }

  .ks_frame_5476 {
    justify-content: center !important;
    align-items: center !important;
  }

  .ks_text_60 {
    margin-right: 0 !important;
    padding-left: 0 !important;
  }

  .text-61 {
    margin-top: 10px !important;
    font-weight: 500 !important;
  }

  .button-14 {
    height: 54px !important;
    margin-left: 0 !important;
    padding: 16px 37px !important;
  }

  .start-collect-now {
    text-align: center !important;
    font-family: Inter, sans-serif !important;
    font-size: 18px !important;
  }

  .vectors-wrapper-25 {
    margin-left: 5px !important;
  }

  .main_footer {
    width: 100vw !important;
    margin-top: 60px !important;
    margin-left: 0 !important;
    padding-bottom: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .frame-5467 {
    align-self: center !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: block !important;
  }

  .frame-5473 {
    width: auto !important;
    grid-column-gap: 25px !important;
    grid-row-gap: 25px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex !important;
  }

  .vectors-wrapper-22 {
    width: auto !important;
    height: 39px !important;
    max-width: none !important;
    justify-content: flex-start !important;
    align-self: center !important;
    align-items: flex-start !important;
  }

  .image-21 {
    height: 39px !important;
  }

  .frame-5468 {
    width: auto !important;
    align-items: flex-start !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .frame-5469-text {
    flex: 0 auto !important;
  }

  .frame-5470-text {
    flex: 0 auto !important;
  }

  .frame-5471 {
    display: block !important;
  }

  .ks_btn_blk:has(.ks_button_15) {
    display: flex !important;
  }

  .ks-modal-sub-content {
    width: 700px !important;
    padding: 0 2px !important;
  }
  .modal-content .ks_wth420 {
    width: 100% !important;
  }
  .modal-content .ks_plr60 {
    padding: 0 !important;
  }

  .ks-trial-note-container > * {
    padding: 0 15px !important;
  }
}
