.header {
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    width: 100% !important;
    display: flex !important;
    padding: 0.5rem 0.625rem !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 0.625rem !important;
}

.header .dropdowns {
    flex: 1 !important;
    display: flex !important;
    gap: 6px !important;
    gap: 0.625rem !important;
    justify-content: center !important;
}

.select {
    user-select: none !important;
    color: #1b1b1b !important;
    font-size: 15px !important;
    min-width: 65px !important;
    font-weight: 500 !important;
    width: 100% !important;
    height: 1.875rem !important;
    padding: 0.25rem 0.625rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 0.625rem !important;
    border-radius: 0.3125rem !important;
    border: none !important;
    outline: none !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.10) !important;
}

.button {
    user-select: none !important;
    border: 1px solid #ddd !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 100% !important;
    font-size: 1.25rem !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #1b1b1b !important;
    color: #ffffff !important;
}

.button:hover, .button:active {
    background: #0F1FEA !important;
    cursor: pointer !important;
}

.grid {
    width: 100% !important;
}

.grid thead tr {
    text-align: center !important;
}

.grid th {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #808080 !important;
    padding: 4px 0 !important;
}

.cell {
    text-align: center !important;
    padding: 6px 8px !important;
    margin: 5px !important;
    border-radius: 6px !important;
    position: relative !important;
    outline: none !important;
    color: #333 !important;
    font-weight: 500 !important;
    border: 1px solid #e0e0e0 !important;
}

.cell:hover {
    background: #e7e9fd !important;
    border-color: #d0d2f0 !important;
    color: #0F1FEA !important;
    cursor: pointer !important;
}

.cell.selected {
    background: #0F1FEA !important;
    border-color: #131eb2 !important;
    color: #ffffff !important;
}

.cell.focusRing::after {
    content: "" !important;
    position: absolute !important;
    inset: -4px !important;
    border-radius: 9px !important;
    z-index: -1 !important;
    border: 2px solid #0F1FEA !important;
}

.cell.disabled {
    color: #808080 !important;
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 0.375rem 0.5rem !important;
    }

    .select {
        font-size: 13px !important;
        height: 1.875rem !important;
        padding: 0.25rem 0.625rem !important;
        border-radius: 0.3125rem !important;
    }

    .button {
        width: 1.125rem !important;
        height: 1.125rem !important;
        font-size: 1.125rem !important;
    }

    .grid th {
        font-size: 10px !important;
        padding: 3px 0 !important;
    }
    
    .cell {
        padding: 4px 6px !important;
        margin: 3px !important;
        border-radius: 5px !important;
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        padding: 0.5rem 0.625rem !important;
    }

    .select {
        font-size: 15px !important;
        height: 1.875rem !important;
        padding: 0.25rem 0.625rem !important;
        border-radius: 0.3125rem !important;
    }

    .button {
        width: 1.5rem !important;
        height: 1.5rem !important;
        font-size: 1.25rem !important;
    }

    .grid th {
        font-size: 12px !important;
        padding: 4px 0 !important;
    }
    
    .cell {
        padding: 6px 8px !important;
        margin: 5px !important;
        border-radius: 6px !important;
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        padding: 0.375rem 0.5rem !important;
    }

    .select {
        font-size: 13px !important;
        height: 1.75rem !important;
        padding: 0.25rem 0.5rem !important;
        border-radius: 0.25rem !important;
    }

    .button {
        width: 1.125rem !important;
        height: 1.125rem !important;
        font-size: 1.125rem !important;
    }

    .grid th {
        font-size: 10px !important;
        padding: 3px 0 !important;
    }
    
    .cell {
        padding: 4px 6px !important;
        margin: 3px !important;
        border-radius: 5px !important;
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1441px) {
    .header {
        padding: 0.5rem 0.625rem !important;
    }

    .select {
        font-size: 15px !important;
        height: 1.875rem !important;
        padding: 0.25rem 0.625rem !important;
        border-radius: 0.3125rem !important;
    }

    .button {
        width: 1.5rem !important;
        height: 1.5rem !important;
        font-size: 1.25rem !important;
    }

    .grid th {
        font-size: 12px !important;
        padding: 4px 0 !important;
    }
    
    .cell {
        padding: 6px 8px !important;
        margin: 5px !important;
        border-radius: 6px !important;
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 1441px) and (-webkit-device-pixel-ratio: 1.25) {
    .header {
        padding: 0.375rem 0.5rem !important;
    }

    .select {
        font-size: 13px !important;
        height: 1.75rem !important;
        padding: 0.25rem 0.5rem !important;
        border-radius: 0.25rem !important;
    }

    .button {
        width: 1.125rem !important;
        height: 1.125rem !important;
        font-size: 1.125rem !important;
    }

    .grid th {
        font-size: 10px !important;
        padding: 3px 0 !important;
    }
    
    .cell {
        padding: 4px 6px !important;
        margin: 3px !important;
        border-radius: 5px !important;
        font-size: 13px !important;
    }
}
