.ks_div_blk15.utility-invoice{
    background: unset !important;
}

.cb_permission{
    display: flex;
    align-items: center;
}

button[disabled]{
    pointer-events: none;
    opacity: 0.5;
}

.ks_p0{
    padding: 0 !important;
}

.accordion-button.collapsed{
    box-shadow: none !important;
}

.accordion-button:not(.collapsed){
    --bs-bg-opacity: 1 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.border-radius-0{
    border-radius: 0 !important;
}

.grecaptcha-badge {
    visibility: hidden;
}

.cus-table-invoice{
    border-collapse: collapse;
    border: 0.125rem solid #333333 !important;
}

.cus-table-invoice tr td{
    border: 0.063rem solid #333333 !important;
}

/* * 18/07/2023 * */
.ks_page_bd {
    background: #cccccc !important;
    height: 100vh !important;
    /*font-family: 'Inter', serif !important;*/
}

.ks_page_bd main {
    background: #ffffff !important;
    display: block !important;
    margin: 0 auto !important;
}

.ks_page_bd main {
    width: 21cm !important;
    height: 29.7cm !important;
}

.ks_page_bd main[size="A4"][layout="landscape"] {
    width: 29.7cm !important;
    height: 21cm !important;
}

.ks_page_bd main[size="A3"] {
    width: 29.7cm !important;
    height: 42cm !important;
}

.ks_page_bd main[size="A3"][layout="landscape"] {
    width: 42cm !important;
    height: 29.7cm !important;
}

.ks_page_bd main[size="A5"] {
    width: 14.8cm !important;
    height: 21cm !important;
}

.ks_page_bd main[size="A5"][layout="landscape"] {
    width: 21cm !important;
    height: 14.8cm !important;
}

@media print {
    .ks_page_bd main {
        margin: 0 !important;
    }
}
/* * 18/07/2023 * */

.cus-inp-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.cus-inp-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.flex-basic-50 {
    flex-basis: 50% !important;
}

.cus-row-recurring {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
}

.upload-bill-count {
    z-index: 1;
    background: #ffffff !important;
}

.ks_link,
.ks_pm_blue_clr {
    color: #0f38ee !important;
}

.ks_fs72{
    font-size: 4.25rem !important;
}

.cursor-initial {
    cursor: initial !important;
}

.ks_inp_time {
    background-image: url("../public/asset/icon/clock.svg") !important;
    background-position: left !important;
    background-position-x: 10px !important;
    padding-left: 2.5rem !important;
}

.ks_inp_time::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    left: 0;
    background: #0000;
    position: absolute;
    transform: scale(12);
}

.drag-drop-area {
    width: 500px;
    height: 200px;
    background-color: #edf0f8;
}

.modal-90w {
    max-width: 90% !important;
}

.zoom-in-out-btn.rotate {
    transform: rotate(270deg);
}

.zoom-in-out-btn:hover {
    opacity: 0.75 !important;
}

.modal-100w {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    max-height: 100vh !important;
}

.excel-td {
    border-bottom-width: 2px !important;
    border-color: white;
}

.w-400 {
    width: 400px !important;
}

table th,
td {
    white-space: nowrap;
}

.ks_inp.is-valid {
    border-color: #4EDB61!important;
    box-shadow: 0px 0px 0px 3px rgba(78, 219, 97, 0.20)!important;
}


.vat-box-wrapper {
    display: flex;
}

.vat-box {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px
}

.vat-box span {
    font-weight: 500;
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 0.2rem;
    text-align: left;
    display: flex;
    align-items: top;
}

.text-bill-title {
    color: #000000;
    font-size: 0.9rem !important;
}

/* * Custom btn service plan * */
.ks_svc_pln_btn_pm {
    background-color: #f4f5f0 !important;
    border: 0.063rem solid #e0e0e0 !important;
    color: #bebebe !important;
    pointer-events: none;
}

.ks_svc_pln_btn_pm svg {
    fill: #ffffff !important;
}

.ks_div_blk2.ks_svc_plan_box {
    background-color: #fff4e5 !important;
}

.ks_div_blk3.ks_svc_plan_box {
    background-color: #f9efff !important;
}

.ks_div_blk4.ks_svc_plan_box {
    background-color: #f0f3fe !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25) !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.form-control.is-invalid:hover,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* * End of custom btn service plan * */
.disabled-page {
    pointer-events: none;
    opacity: 0.5 !important;
}

.default_calendar_custom {
    float: right;
    box-shadow: none;
    color: #000;
}

.react-minimal-datetime-range {
    z-index: 99 !important;
}

.react-minimal-datetime-date-piker {
    display: flex;
}

.react-minimal-datetime-range__button--type {
    display: none !important;
}

.react-minimal-datetime-range__range-input-wrapper {
    height: 2.25rem !important;
    border-radius: 0.438rem !important;
    box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075) !important;
}

.react-minimal-datetime-range__range-input-wrapper input.react-minimal-datetime-range__range-input {
    color: #333333 !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
}

.react-minimal-datetime-range__clear {
    right: 0.75rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* .editable-row {
    position: relative;
} */

.editable {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    visibility: hidden !important;
    position: relative !important;
    top: 10px !important;
    right: 10px !important;
}

tr:hover .editable {
    visibility: visible !important;
}

fieldset:disabled input {
    /* background: none !important; */
    color: #333333 !important;
    cursor: auto !important;
}


input[type="radio"]:disabled, 
input[type="radio"].ks_inp_radio:disabled {
    color: red !important;
}

.disabled-input {
    background-color: #f5f5f5 !important;
    color: #333333 !important;
    cursor: no-drop !important;
}

select:disabled {
    background-color: #f5f5f5 !important;
    color: #333333 !important;
    cursor: no-drop !important;
    border: none !important;
}

.disabled-div {
    pointer-events: none;

}

.disabled_div_dropdown {
    pointer-events: none !important;
    background-color: #f5f5f5 !important;
    border: none !important;
}

.txt_amount {
    text-align: right;
}

.txt_amount.large {
    margin-bottom: 0px;
    padding-right: 0px;
    border: 1px none #000;
    font-size: 31px;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
    color: #999;
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
    color: #999;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
    color: #999;
}

.w-input:focus,
.w-select:focus {
    border-color: #3898EC;
    outline: 0;
}

.width_100_percent {
    width: 100% !important;
}
/* .ks_btn {
    padding: 0.55rem 0.8rem !important; 
} */

.file {
    display: none !important;
}

/* Custom select gender option*/
.ks_select_gender {
    padding-left: 7.6% !important;
}

.hide_border {
    margin-top: 12px;
    border: none !important;
}

.ks_group_inp {
    width: 100% !important;
    font-size: 0.9375rem !important;
    line-height: 1.5 !important;
    padding: 5px 10px !important;
    background-color: transparent !important;
    background-clip: padding-box !important;
    border: 0.063rem solid #e1e5ec !important;
    outline: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.438rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075) !important;
}

.ks_group_inp:focus,
.ks_group_inp:hover {
    cursor: auto !important;
    border-color: #90a4ae !important;
}

.ks_sub_sb_itm_add_group {
    padding: 0.5rem 0.75rem !important;
}

.ks_lbl.c_pointer,
.c_pointer>.ks_lbl {
    cursor: pointer !important;
}

.fontSize_09375rem {
    font-size: 0.9375rem !important;
}

.modal.fade {
    background: rgba(0, 0, 0, 0.4);
}

.modal-backdrop.fade {
    opacity: 0;
}

.cus-dropdown {
    width: calc(100% - 0px) !important;
}

.item__name_inp {
    min-width: 200px !important;
}

.cus-bill-modal-body {
    min-height: 75vh !important;
}

.lbl_sale_price {
    font-size: 12px !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(212, 211, 211);
    border-radius: 30px;
}

.ks_payment_sts_error {
    color: #e1232e !important;
}

.ks_payment_sts_settled {
    color: #68b77e !important;
}

.ks_amt_lbl_error {
    color: #e1232e !important;
    font-weight: 500 !important;
}

.ks_mnhgt780 {
    min-height: 780px !important;
}

.ks_check_dep_acc {
    position: absolute !important;
    bottom: 5.188rem !important;
    left: 0 !important;
}

.ks_opacity06 {
    opacity: 0.6 !important;
}

.ks_no_drop {
    cursor: no-drop !important;
}

.ks_justify_content_evenly {
    justify-content: space-evenly !important;
}

.page-err-title {
    color: #212529;
    font-size: 84px;
    font-weight: bold;
    margin-bottom: -0.6rem;
}

.page-err-msg {
    font-size: 1.09375rem !important;
    font-weight: 500 !important;
}
.form-button-element{
    width: 100%;
    background-color: #0f38ef;
    color: #fff;
    outline: none;
    border: 1.5px solid #f6f6f6;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
}

.page-err-img {
    -webkit-user-drag: none !important;
    -khtml-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;
}
/* .icon_password_signup {
    top: 40% !important;
    right: 16px !important;
    opacity: 0.5;
    cursor:  pointer !important;
} */

.icon_password_emp{
    top: 2rem !important;
    right: 14px !important;
    cursor:  pointer !important;
}
.icon_password_my_account{
    top: 1.5rem !important;
    right: 12px !important;
    cursor:  pointer !important;
}

.form_control_no_img{
    border-color: #dc3545 !important;
}
.form_control_no_img:focus{
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25) !important;
}

.form_control_no_img:hover{
    border-color: #dc3545 !important;
}

.filter_opt_ele_blk {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1.5px solid #dfe0e5;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
  }
.input_date_ele {
    position: relative;
    border: none;
    outline: none;
    background: white url("../public/asset/icon/calendar.svg") right center no-repeat;
    background-size: 16px 16px;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
    cursor: pointer;
}

.fs_0_7rem {
    font-size: 0.7rem !important;
}

.p_acct_min_with {
    min-width: 290px;
}

.p_acct_min_with_selected {
    min-width: 220px;
}

.p__acct__img {
    width: 100% !important;
    height: 100% !important;
}

.fs_12 {
    font-size: 14px;
}

.fs_13 {
    font-size: 13px !important;
}

.fs_14 {
    font-size: 14px !important;
}

.mr-1 {
    margin-right: 0.2rem !important;
}

.cu_noti_title {
    font-size: 0.85rem !important;
    font-weight: 400 !important;
}

.update_btn {
    background-color: #0f38ee !important;
    border-color: none !important;
    color: #ffffff !important;
}

.profile_user {
    border-radius: 50% !important;
    box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075) !important;
    object-fit: cover !important;
    object-position: center !important;
}

/*Notification*/

.unread_line {
    display: block !important;
    height: 0.12rem !important;
}

.ks_ptb1erem_plr1rem {
    padding: 0.7rem 1rem !important;
}

/* .ks_fs14{
    font-size: 14px !important;
  } */
.ks_skeleton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* .ks_svg_1 {
    position: absolute !important;
    right: 0.063rem !important;
    top: 0.063rem !important;
  } */
.ks_ptb10_plr25 {
    padding: 0.625rem 1.563rem !important;
}

.ks_wth90 {
    width: 5.625rem !important;
}

.ks_tab_itm.ks_notify.cur_act+.ks_tab_itm_line,
.ks_tab_itm.ks_notify:hover+.ks_tab_itm_line {
    background-color: #0f38ee !important;
}

.ks_ptb15_plr25 {
    padding: 0.938rem 1.563rem !important;
}

/* .ks_noti_unread .ks_noti_info_lbl,
  .ks_noti_unread .ks_dur_lbl {
    font-weight: 600 !important;
  }
  
  .ks_noti_unread .ks_noti_info_lbl {
    color: #333333 !important;
  }
  
  .ks_noti_unread .ks_dur_lbl {
    color: #0f38ee !important;
  } */
.ks_wth11 {
    width: 0.563rem !important;
}

.ks_unread {
    top: 0.563rem !important;
    left: 1.3rem !important;
}

/*Notification*/

.chart_bar {
    min-height: 400px !important;
    width: 100% !important;
}

.chart_bar canvas {
    width: 100% !important;
    height: 100% !important;
}

.donut_chart {
    height: 320px;
    width: 320px;
    padding: auto;
    margin: auto;
}

.dunut_small {
    height: 100px !important;
    width: 100px !important;
    padding: auto;
    margin: auto;
}

.algin_donute_data {
    margin: auto !important;
    margin-left: 5px !important;
}
.col-7.algin_donute_data {
    width: 72% !important;
}

.green_color {
    color: #68b77e !important;
}

/* sidebar */
.ks_sb_edit_svg {
    fill: #1e5cfe !important;
}

.ks_sb_delete_svg {
    fill: #e41740 !important;
    margin-left: 0.5rem !important;
}

.group_action {
    /* height: 22px !important; */
    display: none !important;
}

.ks_sub_sb_itm:hover>.group_action {
    display: block !important;
}

.cust_group_edit {
    border: none !important;
    width: 100% !important;
}

input.cust_group_edit {
    background-color: #fafafa !important;
}

.group_edit input {
    background-color: #dde3f9 !important;
}

input.cust_group_edit:hover {
    background-color: #dde3f9 !important;

}

input.cust_group_edit:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.list-container {
    display: flex;
    font-size: 18px;
    flex-direction: column;
}

.add_group {
    color: #1e5cfe !important;
    font-weight: 500 !important;
}

/* .cur_act {
    color: #1e5cfe !important;
}

.ks_sb_itm:hover,
.ks_sb_itm.cur_act,
.ks_sub_sb_itm:hover,
.ks_sub_sb_itm.cur_act,
.ks_add_sub_sb_itm:hover {
    color: #1e5cfe !important;
} */

.c_background {
    background-color: #e6e6e6;
    color: #c0c0c0;
    width: 22px;
    border-radius: 20%;
    text-align: center;
    font-size: 13px !important;
    box-shadow: brown;
}

.mystyle {
    margin-top: auto !important;
    height: 100% !important;
}

/*print-multi-receipts*/
.page-break {
    /*margin-top: 1rem;*/
    display: block;
    page-break-before: always;
}

/*print-multi-receipts*/

/* Preferences */
.btn_save {
    background-color: #0f38ee !important;
    border-color: #0f38ee !important;
    color: #ffffff !important;
}

.footer_reciept {
    position: fixed;
    bottom: 10;
}

.fontSize_14 {
    font-size: 14px !important;
    /* margin-top: 7px; */
}

/* Preferences */

.margin_left_10px {
    margin-left: 10px !important;
}

.slide {
    width: 100% !important;
}
.datepicker_modal {
    inset: 0px 0px auto 0px !important;
    width: 570px !important;
    height: 480px !important;
}
.rdrInputRanges, .rdrDefinedRangesWrapper{
    display: none;
}

.float_right_btn{
    float: right !important;
}

.btn_date_filter{
    padding: 3px 8px !important;
    margin: 5px !important;
    color:black;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    box-shadow: inset 0 0 0 0.05rem #e1e5ec;
}
.btn_date_filter:hover{
    background-color: rgb(61, 145, 255);
    color:white
}
.btn_date_filter.active{
    background-color: rgb(61, 145, 255);
    color:white
}
.confirm_button , .clear_button{
    color: black !important;
    margin: 5px !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    border: none !important;
    box-shadow: inset 0 0 0 0.0625rem #e1e5ec;
    padding: 3px 10px !important;
}
.confirm_button:hover , .clear_button:hover{
    background-color: rgb(61, 145, 255);
    color:white !important;
}
.icon_date_picker{
    left: 13.939rem;
    top: 0.4rem ;
}
/* .rdrDay{
    padding: 14px !important;
} */
.custom_date .ks_inp_date{
    background: none !important;
    padding: 0.6875rem !important;
}
.rdrCalendarWrapper {
    width: 560px !important;
    height: 350px !important;
}
.padding_0px{
    padding: 0px !important;
}
.padding_right_0px{
    padding-right: 0px !important;
}
.text_align_right{
    text-align: right !important;
}
.width_70{
    width: 75% !important;
}
.height_auto{
    height: auto !important;
    max-height: 200px !important;
}
/* .ks_sub_sb_group{
    padding: 0.5rem 0.75rem !important;
} */

/* .icon_password{
    top: 0.6rem !important;
    right: 15px !important;
    opacity: 0.5;
} */

::-ms-reveal {
    display: none;
}

/* start--date picker */
.ks_width_170{
    width: 180px !important;
}
.date_icon {
    fill: #0070c0;
    background-color: transparent;
    border: 1px solid #e1e5ec;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-right: 1rem;
    z-index: 2;
    width: 100%;
    height: 38px;
  }

  .react-datepicker-wrapper{
    width: 100%;
  }
  .react-datepicker__input-container{
    width: 100%;
    display: flex !important;
    justify-content: center;
  }
  
  .date_icon p {
    margin: 0px;
    text-align: left;
    padding-right: 0.5rem;
  }
  .placeholder_datepicker{
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.5);
  }
  .datapicker_value{
    float: left;
    text-align: left;
    width: 130px;
  }
  /* end-date picker */
/* tooltip */
.tool_tip {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_tip .tooltip_text {
    visibility: hidden;
    background-color: #ffffff;
    color: #212529;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 5px;
    margin-top: -16px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 28.8%;
    border: 1px solid #dee2e6;
}

.tool_tip:hover .tooltip_text {
    visibility: visible;
}

/* tooltip description  */
.tool_tip_description {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tool_tip_description .tooltip_text_description {
    visibility: hidden;
    background-color: #ffffff;
    color: #212529;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 5px;
    margin-top: -16px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /*left: 73.4%;*/
    right: 7.7%;
    border: 1px solid #dee2e6;
}

.tool_tip_description:hover .tooltip_text_description {
    visibility: visible;
}
.overflow_hidden{
    overflow: hidden !important;
}
.ks_w44{
    width: 41.6666666% !important;
  }
/* END tooltip */

/*  */
/*  my custom */
.view_setting_button {
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.01) !important;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.12) !important;
    border-radius: 0.375rem !important;
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    top: 12px !important;
    right: 20px !important;
    z-index: 5 !important;
}
.view_setting_button:hover {
    cursor: pointer !important;
    background-color: #f7f7f7 !important;
}
/* .view_setting_button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 12px !important;
    right: 20px !important;
    z-index: 99 !important;
} */
.view-setting ul {
    list-style: none !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
.view-setting ul li.view-setting-head-li {
    padding: 0.4375rem 0.625rem !important;
}
.view-setting ul li {
    display: flex !important;
    align-items: center !important;
    padding: 0.4375rem 0.625rem 0.4375rem 1.875rem !important;
    border-radius: 0.3125rem !important;
}
.view-setting ul li:hover {
    background: #f4f5f0 !important;
}
.view-setting .my-hr{
    position: relative !important;
    height: 13px !important;
    margin-top: 15px !important;
}
.view-setting .my-hr::after {
    position: absolute !important;
    width: 600px !important;
    right: -100px !important;
    content: '' !important;
    border-bottom: 0.063rem solid #e1e5ec !important;
}

.ks-wt-danger {
    color: #f60404 !important;
}
.backgroup_success {
    background-color: #E9F5EE !important;
}
.backgroup_error{
    background-color: #FCE9EB !important;
}
.color_success {
    color: #03A200 !important;
}
.text-white {
    color: #ffffff !important;
}

.close_service_plan{
    width: 3rem !important;
    height: 3rem !important;
    padding: 6px !important;
}

.company_logo{
    height: 150px !important;
    width: max-content !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    object-position: center !important;
}
.border_none{
    border: none !important;
    box-shadow: none !important;
}

.ks_remove_img_blk {
  position: absolute !important;
  top: 3px !important;
  right: 3px !important;
  z-index: 10000 !important;
  background: #ffffff !important;
  visibility: hidden !important;
  cursor: pointer !important;
}

.ks_img_container:hover .ks_remove_img_blk {
  visibility: visible !important;
}

.float_right {
    float: right !important;
}

.right12 {
    right: 12px !important;
    z-index: 100000 !important;
}

.custom_date_picker {
    display: flex !important;
    align-items: center !important;
}

#CheckboxForm {
    overflow-x: hidden !important;
}

.ks_btn_datepick {
    height: 1.75rem !important;
    padding: 0.5rem 0.625rem !important;
    border-radius: 0.3125rem !important;
}

.tooltip-lg-inner {
    --bs-tooltip-max-width: 36.25rem !important;
    --bs-tooltip-padding-x: 0.75rem !important;
    --bs-tooltip-padding-y: 0.875rem !important;
    z-index: 1000000 !important;
}

.ks_tooltip_svg {
    width: 18px !important;
    height: 18px !important;
    fill: #a6a6a6 !important;
}

.ks_tooltip_svg.ks_md {
    width: 20px !important;
    height: 20px !important;
}

.ks_tooltip_svg:hover {
    fill: #1b1b1b !important;
    cursor: pointer !important;
}

.ks_calendar_popover {
    position: fixed !important;
    overflow: auto !important;
    border: none !important;
    outline: 0 !important;
}

.ks_calendar_popover + div {
    background: #ffffff !important;
    border: 1px solid #E0E0E0 !important;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.08) !important;
    border-radius: 0.375rem !important;
    padding: 1.5rem !important;
    outline: 0 !important;
}

.ks_cus_calendar_sub_block {
    border-radius: 0.375rem !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 0.625rem !important;
    outline: 0 !important;
}

.ks_cus_calendar_header {
    background: #FAFAFA !important;
    border-radius: 0.3125rem !important;
    padding: 1.125rem 1rem !important;
}

.ks_cus_header_title {
    font-weight: 700 !important;
    color: #A6A6A6 !important;
}

.ks_cus_header_date_value {
    font-weight: 700 !important;
    color: #494949 !important;
}

.ks_calendar_dialog {
    border: none !important;
    outline: 0 !important;
    border-radius: 0.375rem !important;
}

.ks_cus_calendar_style {
    border-radius: 0.4375rem !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
    background: #ffffff !important;
    padding: 1rem 0.625rem 0.625rem 0.625rem !important;
    display: inline-flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.625rem !important;
}

.ks_save_date_filter_title {
    font-weight: 500 !important;
    color: #1b1b1b !important;
}

.ks_parent_calenader_container {
    height: 40px !important;
    color: #333333 !important;
    background-color: #ffffff !important;
    outline: 0 !important;
    border-radius: 0.4375rem !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
    background: url(../public/asset/icon/calendar.svg) right 0.7rem center no-repeat !important;
    background-size: 18px 18px !important;
    border: 1px solid rgba(0, 0, 0, 0.01) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(64, 68, 82, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(64, 68, 82, 0.08) 0px 2px 5px 0px !important;
    cursor: pointer !important;
    position: relative !important;
    display: grid !important;
    grid-template-rows: 100% !important;
    grid-template-columns: 100px auto 130px !important; 
}

div[aria-label="start_date"] {
    padding-left: 10px !important;
    position: absolute !important;
    grid-column: 1 !important;
    grid-row: 1 !important;
    width: 100% !important;
    height: 100% !important;
}

.ks_calendar_line {
    grid-column: 2 !important;
    grid-row: 1 !important;
    padding-left: 5px !important;
}

div[aria-label="end_date"] {
    padding-right: 10px !important;
    grid-column: 3 !important;
    grid-row: 1 !important;
    pointer-events: none !important;
}

.ks_bill_dropdown {
    cursor: pointer !important;
    position: absolute !important; 
    top: 100% !important; 
  }

.ellipsis_text{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 4em;   
}

.ks_excel_btn {
    display: flex !important;
    /* width: 311px; */
    padding: 20px 10px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    border-top: 1px solid #E6E7F0 !important;
    background: rgba(255, 255, 255, 0.70) !important;
    backdrop-filter: blur(15px) !important;
}

.utility_excel_container{
    display: flex !important;
    border-top: 1px solid #E6E7F0 !important;
    padding: 15px 10px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 15px !important;
    backdrop-filter: blur(15px) !important;
}

.utility_excel_text{
    color: var(--Gray-1, #333) !important;
    text-align: center !important;
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    opacity: 0.5 !important;
}

.utility_excel_btn{
    display: flex;
    height: 34px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
}
.ks_toast{
    padding: 0.5rem 0.8rem !important;
    font-size: 0.8rem !important;
    line-height: 1.4 !important;
    border-radius: 0.438rem !important;
    background: #ffcc00 !important;
    color: #000000 !important;
}

@media only screen and (max-width: 768px) {
    .chart_bar {
        min-height: 400px !important;
    }

    .fontSize_09375rem {
        font-size: 0.7rem !important;
    }

    /* Custom select gender option*/
    .ks_select_gender {
        padding-left: 11.3% !important;
    }

    .react-minimal-datetime-range__range-input-wrapper {
        height: 2.22rem !important;
        border-radius: 0.275rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper input.react-minimal-datetime-range__range-input {
        padding: 0.55rem 0.75rem !important;
        font-size: 0.8rem !important;
        line-height: 1.4 !important;
    }
    .p_acct_min_with {
        min-width: 260px !important;
    }

    .p_acct_min_with_selected {
        min-width: 200px !important;
    }

    .fs_12 {
        font-size: 0.8rem !important;
    }

    .view_setting_button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 0.3125rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 31.25rem !important;
        --bs-tooltip-padding-x: 0.625rem !important;
        --bs-tooltip-padding-y: 0.75rem !important;
        font-size: 12px !important;
    }
    
    .ks_parent_calenader_container {
        height: 34px !important;
        font-size: 0.8125rem !important;
        border-radius: 0.375rem !important;
        background-size: 1rem 1rem !important;
        grid-template-columns: 90px auto 115px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.125rem !important;
    }

    .ks_cus_calendar_header {
        padding: 0.875rem 0.75rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.1875rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.8135rem !important;
    }

    .ks_btn_datepick {
        height: 1.5rem !important;
        padding: 0.375rem 0.5rem !important;
        border-radius: 3px !important;
        font-size: 0.75rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.375rem !important;
        padding: 0.875rem 0.5rem 0.5rem 0.5rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.3125rem !important;
        gap: 0.5rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 0.9375rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 13px !important;
    }

    .ks_tooltip_svg {
        width: 16px !important;
        height: 16px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 18px !important;
        height: 18px !important;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .chart_bar {
        min-height: 400px !important;
    }

    .fontSize_09375rem {
        font-size: 0.8rem !important;
        line-height: 1.4 !important;
    }

    .view_setting_button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 0.3125rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 31.25rem !important;
        --bs-tooltip-padding-x: 0.625rem !important;
        --bs-tooltip-padding-y: 0.75rem !important;
        font-size: 12px !important;
    }
    
    .ks_parent_calenader_container {
        height: 34px !important;
        font-size: 0.8125rem !important;
        border-radius: 0.375rem !important;
        background-size: 1rem 1rem !important;
        grid-template-columns: 90px auto 115px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.125rem !important;
    }

    .ks_cus_calendar_header {
        padding: 0.875rem 0.75rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.1875rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.8135rem !important;
    }

    .ks_btn_datepick {
        height: 1.5rem !important;
        padding: 0.375rem 0.5rem !important;
        border-radius: 3px !important;
        font-size: 0.75rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.375rem !important;
        padding: 0.875rem 0.5rem 0.5rem 0.5rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.3125rem !important;
        gap: 0.5rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 0.9375rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 13px !important;
    }

    .ks_tooltip_svg {
        width: 16px !important;
        height: 16px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 18px !important;
        height: 18px !important;
    }
}

@media only screen and (min-width: 992px) {
    .chart_bar {
        min-height: 550px !important;
    }
    .fontSize_09375rem {
        font-size: 0.9375rem !important;
    }
    .icon_password_emp{
        top: 2rem !important;
        right: 14px !important;
        cursor:  pointer !important;
    }
    .p_acct_min_with {
        min-width: 260px !important;
    }

    .p_acct_min_with_selected {
        min-width: 200px !important;
    }

    .fs_12 {
        font-size: 0.8rem !important;
    }

    .view_setting_button {
        width: 25px !important;
        height: 25px !important;
        border-radius: 0.375rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 36.25rem !important;
        --bs-tooltip-padding-x: 0.75rem !important;
        --bs-tooltip-padding-y: 0.875rem !important;
        font-size: 15px !important;
    }

    .ks_parent_calenader_container {
        height: 40px !important;
        font-size: 0.9375rem !important;
        border-radius: 0.4375rem !important;
        background-size: 1.125rem 1.125rem !important;
        grid-template-columns: 100px auto 130px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.5rem !important;
    }

    .ks_cus_calendar_header {
        padding: 1.125rem 1rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.375rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.9375rem !important;
    }

    .ks_btn_datepick {
        height: 1.75rem !important;
        padding: 0.5rem 0.625rem !important;
        border-radius: 0.3125rem !important;
        font-size: 0.875rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.4375rem !important;
        padding: 1rem 0.625rem 0.625rem 0.625rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.375rem !important;
        gap: 0.625rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 1.25rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 15px !important;
    }

    .ks_tooltip_svg {
        width: 18px !important;
        height: 18px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 20px !important;
        height: 20px !important;
    }
}

/* * Extra large devices (laptops/desktops, 1200px and up) * */
@media only screen and (min-width: 1200px) {
    .chart_bar {
        min-height: 500px !important;
    }

    .icon_date_picker {
        top: 0.6rem !important;
        left: 12.8rem !important;
    }
    .ks_inp_date.ks_wth250 {
        min-width: 215px !important;
        width: 13rem !important;
    }

    .fontSize_09375rem {
        font-size: 0.8rem !important;
    }

    .ks_sub_sb_itm_add_group {
        padding: 0.45rem 0.6rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper {
        height: 2.22rem !important;
        border-radius: 0.275rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper input.react-minimal-datetime-range__range-input {
        padding: 0.55rem 0.75rem !important;
        font-size: 0.8rem !important;
        line-height: 1.4 !important;
    }

    .p_acct_min_with {
        min-width: 260px !important;
    }

    .p_acct_min_with_selected {
        min-width: 200px !important;
    }

    .fs_12 {
        font-size: 0.8rem !important;
    }

    .view_setting_button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 0.3125rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 31.25rem !important;
        --bs-tooltip-padding-x: 0.625rem !important;
        --bs-tooltip-padding-y: 0.75rem !important;
        font-size: 12px !important;
    }
    
    .ks_parent_calenader_container {
        height: 34px !important;
        font-size: 0.8125rem !important;
        border-radius: 0.375rem !important;
        background-size: 1rem 1rem !important;
        grid-template-columns: 90px auto 115px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.125rem !important;
    }

    .ks_cus_calendar_header {
        padding: 0.875rem 0.75rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.1875rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.8135rem !important;
    }

    .ks_btn_datepick {
        height: 1.5rem !important;
        padding: 0.375rem 0.5rem !important;
        border-radius: 3px !important;
        font-size: 0.75rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.375rem !important;
        padding: 0.875rem 0.5rem 0.5rem 0.5rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.3125rem !important;
        gap: 0.5rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 0.9375rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 13px !important;
    }

    .ks_tooltip_svg {
        width: 16px !important;
        height: 16px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 18px !important;
        height: 18px !important;
    }
}

/* * Extra large devices (laptops/desktops, 1200px and up) * */
@media only screen and (min-width: 1441px) {
    .chart_bar {
        min-height: 800px !important;
    }
    .ks_inp_date.ks_wth250 {
        width: 16.8rem !important;
    }
    .icon_date_picker{
        top: 30% !important;
        left: 85% !important;
    }
    .ks_mxwth960 {
        max-width: 65rem !important;
    }

    .fontSize_09375rem {
        font-size: 0.9375rem !important;
    }

    .ks_group_inp {
        padding: 4px 10px !important;
        font-size: 0.8375rem !important;
    }

    .ks_select.p_acct {
        width: auto !important;
        min-width: 200px;
        max-width: 280px;
    }

    .react-minimal-datetime-range__range-input-wrapper {
        height: 2.65rem !important;
        border-radius: 0.438rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper input.react-minimal-datetime-range__range-input {
        padding: 0.55rem 0.75rem !important;
        font-size: 0.938rem !important;
        line-height: 1.5 !important;
    }

    .icon_password_emp{
        top: 2.5rem !important;
    }

    .icon_password_my_account{
        top: 2.2rem !important;
        right: 12px !important;
        cursor:  pointer !important;
    }
    .p_acct_min_with {
        min-width: 290px !important;
    }

    .p_acct_min_with_selected {
        min-width: 220px !important;
    }

    .fs_12 {
        font-size: 14px !important;
    }

    .view_setting_button {
        width: 25px !important;
        height: 25px !important;
        border-radius: 0.375rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 36.25rem !important;
        --bs-tooltip-padding-x: 0.75rem !important;
        --bs-tooltip-padding-y: 0.875rem !important;
        font-size: 15px !important;
    }

    .ks_parent_calenader_container {
        height: 40px !important;
        font-size: 0.9375rem !important;
        border-radius: 0.4375rem !important;
        background-size: 1.125rem 1.125rem !important;
        grid-template-columns: 100px auto 130px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.5rem !important;
    }

    .ks_cus_calendar_header {
        padding: 1.125rem 1rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.375rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.9375rem !important;
    }

    .ks_btn_datepick {
        height: 1.75rem !important;
        padding: 0.5rem 0.625rem !important;
        border-radius: 0.3125rem !important;
        font-size: 0.875rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.4375rem !important;
        padding: 1rem 0.625rem 0.625rem 0.625rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.375rem !important;
        gap: 0.625rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 1.25rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 15px !important;
    }

    .ks_tooltip_svg {
        width: 18px !important;
        height: 18px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 20px !important;
        height: 20px !important;
    }
}

@media only screen and (min-width: 1441px) and (-webkit-device-pixel-ratio: 1.25) {
    .chart_bar {
        min-height: 620px !important;
    }

    .fontSize_09375rem {
        font-size: 0.8rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper {
        height: 2.22rem !important;
        border-radius: 0.438rem !important;
    }

    .react-minimal-datetime-range__range-input-wrapper input.react-minimal-datetime-range__range-input {
        padding: 0.55rem 0.75rem !important;
        font-size: 0.8rem !important;
        line-height: 1.4 !important;
    }

    .ks_mod_comp.ks_mnhgt780 {
        min-height: 42.5rem !important;
    }

    .icon_password_emp{
        top: 2.1rem !important;
    }

    .icon_password_my_account{
        top: 1.7rem !important;
        right: 12px !important;
        cursor:  pointer !important;
    }
    .p_acct_min_with {
        min-width: 260px !important;
    }

    .p_acct_min_with_selected {
        min-width: 200px !important;
    }

    .fs_12 {
        font-size: 0.8rem !important;
    }

    .view_setting_button {
        width: 20px !important;
        height: 20px !important;
        border-radius: 0.3125rem !important;
    }

    .tooltip-lg-inner {
        --bs-tooltip-max-width: 31.25rem !important;
        --bs-tooltip-padding-x: 0.625rem !important;
        --bs-tooltip-padding-y: 0.75rem !important;
        font-size: 12px !important;
    }
    
    .ks_parent_calenader_container {
        height: 34px !important;
        font-size: 0.8125rem !important;
        border-radius: 0.375rem !important;
        background-size: 1rem 1rem !important;
        grid-template-columns: 90px auto 115px !important; 
    }

    .ks_calendar_popover + div {
        padding: 1.125rem !important;
    }

    .ks_cus_calendar_header {
        padding: 0.875rem 0.75rem !important;
    }

    .ks_cus_calendar_header.ks_mb6 {
        margin-bottom: 0.1875rem !important;
    }

    .ks_cus_header_title, .ks_cus_header_date_value {
        font-size: 0.8135rem !important;
    }

    .ks_btn_datepick {
        height: 1.5rem !important;
        padding: 0.375rem 0.5rem !important;
        border-radius: 3px !important;
        font-size: 0.75rem !important;
    }

    .ks_cus_calendar_style {
        border-radius: 0.375rem !important;
        padding: 0.875rem 0.5rem 0.5rem 0.5rem !important;
    }

    .ks_cus_calendar_sub_block {
        border-radius: 0.3125rem !important;
        gap: 0.5rem !important;
    }

    .ks_cus_calendar_sub_block .ks_mt20 {
        margin-top: 0.9375rem !important;
    }

    .ks_save_date_filter_title {
        font-size: 13px !important;
    }

    .ks_tooltip_svg {
        width: 16px !important;
        height: 16px !important;
    }

    .ks_tooltip_svg.ks_md {
        width: 18px !important;
        height: 18px !important;
    }
}
.hidden-image {
    position: absolute;
    left: -9999px; 
    opacity: 0; 
}

.ks-table-collapse {
    border-collapse: collapse !important;
    border-radius: 0.25rem !important;
    border-style: hidden !important; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #E5E5E5 !important; /* this draws the table border  */
    width: 100% !important;
}
.ks-table-collapse tr {
    height: 2rem !important;
}
.ks-table-collapse td {
    border: 1px solid #E5E5E5 !important;
}
.ks-table-collapse .ks-table-header {
    background-color: #fbfbfb !important;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    text-align: center !important;
}
.ks-table-collapse tr:first-child .ks-table-header:first-child {
    border-top-left-radius: 0.25rem !important;
}
.ks-table-collapse tr:first-child .ks-table-header:last-child {
    border-top-right-radius: 0.25rem !important;
}
.ks-wth-100 {
    width: 100px !important;
}
.ks-wth-120 {
    width: 120px !important;
}
.ks-table-collapse .ks-table-data {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: 0.8125rem !important;
    font-weight: 400 !important;
}
.ks-table-collapse .ks-table-data.ks-pdl-25 {
    padding-left: 1.5625rem !important;
}
.ks-table-collapse .ks-table-data.ks-text-center {
    text-align: center !important;
}

li.ks-list-item::marker {
    color: #0F38EE !important;
}
li.ks-list-item * {
    margin-left: -0.25rem !important;
}
